
<div class="footer">
	<div class="fristfooter" dir="{{'dir'|translate}}">
		<div class="row">
			<div class="col-5">
				<h4>Change<b> Language</b></h4>
				<hr class="hr1">
				<br>
				<mat-select (ngModelChange) = "switchLang(langSelector)" [(ngModel)]="langSelector" #select [(value)]="langSelector" >
	                <mat-option value="E">English</mat-option>
	                <mat-option value="A">عربي</mat-option>
	            </mat-select>
				<h4>Follow<b> Us</b></h4>
				<hr class="hr1">

				<p><a class="instaf" href=""><i class="fa fa-instagram socialiconsinsta" aria-hidden="true"></i></a> <a class="facebookf" href=""><i class="fa fa-facebook socialiconsface" aria-hidden="true"></i></a>  <a class="linkedf" href=""><i class="fa fa-linkedin socialiconslinked" aria-hidden="true"></i></a></p>

			</div>

			<div class="col-3 lineheight">
				<h4>Direct<b> Links</b></h4>
				<hr class="hr2">
				<br><br>
				<p><a routerLink="/homepage" >{{'Home'|translate}}</a></p>
				<p><a href="">{{'Properties' | translate}}</a></p>
				<p><a routerLink="/developer">Developers</a></p>
				<p><a href="">Suppliers</a></p>
				<p><a routerLink="/fav">Favorite</a></p>
				<p><a href="">My Ads</a></p>
				<p><a routerLink="/about lodge">About Lodge</a></p>
				<p><a href="">Contact Us</a></p>

			</div>
			<div class="col-4 lineheight-{{'lang'|translate}}">
				<h4><b>Subscribe</b></h4>
				<hr class="hr3">
				<br><br>
				<p>Subscribe to our newsletter and get more updates about our events, causes and projects</p>
				<input type="email" name="" placeholder="Email Address">
				<button class="sginupbutton"><b>SUBSCRIBE</b></button>

				<p class="PrivacyTerms"><a routerLink="/privacy" >Privacy Policy</a>&nbsp; |&nbsp;  <a routerLink="/terms" >Terms and Conditions</a></p>
			</div>

		</div>
	</div>
	<div class="secondfooter">
		<p>© 2019  Lodge All Rights Reserved | Design by <span class="colororange"> INNOVITICS INC.</span></p>
	</div>
</div>