.fristfooter{
	background-color: #1a2f3a; 
  	
    width: 100%;
    padding: 40px 60px 12px 60px;
    color: #fff;
}
.footerlogo{
	width: 49%;
}
.fristfooter p{
	font-family: Proxima Nova Cn Rg;
}

.hr1{
	border-top: 6px solid #1da1f2;
    width: 66px;
    margin-left: 0;
}
.hr2{
    border-top: 6px solid #1da1f2;
    width: 66px;
    margin-left: 0;
}
.hr3{
    border-top: 6px solid #1da1f2;
    width: 66px;
    margin-left: 0;
}

.fristfooter h2,.fristfooter h4{
	font-family: Proxima Nova Cn Rg;
}
.fristfooter b{
    font-family: Proxima Nova Th;
}
.fristfooter a{
	color: #fff;
	text-decoration: none;
}
.socialimg{
	width: 70px;
}
.footermargintext{
	margin-right: 100px;
}
.lineheight {

    line-height: 0.9;
}
.fristfooter input{
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    color: #fff;
    padding-left: 8px;
    height: 46px
}

.fristfooter input::placeholder{
 	color: #fff;
}
.sginupbutton{
	background-color: #1da1f2;
    color: #fff;
    width: 150px;
    height: 48px;
    text-align: center;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Proxima Nova Cn Rg;
}

.secondfooter{
	width: 100%;
    background-color: #0d191e;
    color: #fff;
    text-align: center;
    padding: 30px 0 25px 0;
}
.colororange{
	color: #ffba00;
}
.secondfooter p{
	font-family: Proxima Nova Cn Rg;
	margin-bottom: 0;
}

.facebookf,.instaf,.linkedf{
  font-size: 25px;
  padding-bottom: 4px;
  margin: 0 16px 0 0px;
}
.PrivacyTerms{
    font-size: 13px;
}

.fristfooter::ng-deep.mat-select {
    display: inline-block;
    width: 69%;
    padding: 6px 14px;
    height: 46px;
    outline: 0;
    border: 1px solid #fff;
    font-family: Proxima Nova Th;
    font-size: 20px;
    margin-bottom: 40px;
 
}

.fristfooter::ng-deep.mat-option-text {
   font-size: 15px !important; 
}
.fristfooter::ng-deep.mat-select-value {
    color: #fff;
    font-size: 14px;

}
.fristfooter::ng-deep.mat-select-arrow {
    color: #fff;
}
.footer{
   /* position: fixed;
    bottom: 0;*/
    width: 100%;
}

input:focus {
    outline:none !important;
}







/* ----------------- media ----------------- */

@media screen and (max-width: 1280px) {
  
}



@media screen and (max-width: 1235px) {
  
}


@media screen and (max-width: 1170px) {
  

}


@media screen and (max-width: 1024px) {
 
}

/* -----  other design ----- */
@media screen and (max-width: 975px) {

  
}