



 <div class="container">
  
 <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sentsuccesfullypopup">
    Open modal
  </button> -->

  <!-- The Modal -->
  <div class="modal fade" id="sentsuccesfullypopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body center">
            <img src="./assets/images/password.png" class="sendimg">
            <h2 class="noads"><b>Sent Successfully</b></h2>
            <br>
            <p><b>Your request has been sent,</b></p>
            <p><b>we’ll contact you soon.</b></p>
        
          <button mat-button>Done <img src="./assets/images/circle arrow.png" class="doneimg"></button>
          <!-- <button mat-raised-button>SUBMIT</button> -->
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
        
      </div>
    </div>
  </div>
  
</div>



