<div class="homepage" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
			<!-- ------------------------------ left part ------------------------------ -->
			<div class="col-3 paddingquick-{{'lang'|translate}}">
				<app-quicksearch></app-quicksearch>
			</div>
			<!-- ------------------------------ center part ------------------------------ -->
			<div class="col-6 paddingfeatured">
				<div class="yourlodge">
					<div class="row">
						<div class="col-7">
							<h2><b>Lodge Your Property</b></h2>
						</div>
						<div class="col-5">
							<!-- ------- line & check --------- -->
							<div class="row">
								
								<div class="col-2 align-center paddingzero">
									<div [ngClass]= "count >= 1 ? 'checkactive' : 'check'" class="checkactive">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-3 paddingzero">
									<hr [ngClass]= "count >= 2 ? 'hrsteperblue' : 'hrstepergrey'">
								</div>
								<div class="col-2 align-center paddingzero">
									<div [ngClass]= "count >= 2 ? 'checkactive' : 'check'">
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
								</div>
								<div class="col-3 paddingzero">
									<hr [ngClass]= "count >= 3 ? 'hrsteperblue' : 'hrstepergrey'" >
								</div>
								<div class="col-2 align-center paddingzero">
									<div [ngClass]= "count >= 3 ? 'checkactive' : 'check'" >
										<i class="fa fa-check" aria-hidden="true"></i>
									</div>
								</div>

							</div>


						</div>

					</div>
					<hr class="hrgrey">
				</div>
				<div class="slidepadding">
					<!-- ----------------- step 1 ------------------ -->
		            <div class="" *ngIf="first">
		            	<form action="" method=""  name="step1">
		            		<div class="row margrow">
				              	<div class="col-4 margincol">
				              		<h4><img src="./assets/images/type.png" class="typeimg"><b>&nbsp; Type</b><span class="colorred">*</span></h4>
				              	</div>
				              	<div class="col-8">
				              		<div class="row">
				              			<div (click)="addRequest.process = 'S'"class="col-6 textcenter borderrentcar-{{'lang'|translate}}">
				              		<img [src] = "addRequest.process == 'S' ? './assets/images/sale active.png' : './assets/images/sale inactive.png'" class="rentimg">
				              		<p [ngClass]= "addRequest.process == 'S' ? 'colorlightblue' : 'colorgrey'" ><b>For Sale</b></p>
				              	</div>
				              	<div (click)="addRequest.process = 'R'" class="col-6 textcenter">
				              		<img [src] = "addRequest.process == 'R' ? './assets/images/rent active.png' : './assets/images/rent inactive.png'" class="rentimg">
				              		<p [ngClass]= "addRequest.process == 'R' ? 'colorlightblue' : 'colorgrey'"><b>For Rent</b></p>
				              	</div>
				              		</div>
				              	</div>
			                </div>
			                <div class="row marginrow">
			                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
			                		<h4><img src="./assets/images/unit.png" class="typeimg"><b>&nbsp; Unit Type</b><span class="colorred">*</span></h4>
			                	</div>
			                	<div class="col-8">
			                		<div class="boxdetails">
										<mat-select required>
										    <mat-option value="s1">select1</mat-option>
										    <mat-option value="s2">select2</mat-option>
										    <mat-option value="s3">select3</mat-option>
										    <mat-option value="s4">select4</mat-option>
										</mat-select>
									</div>
			                	</div>
			                </div>
			                <div class="row marginrow">
			                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
			                		<h4><img src="./assets/images/bed.png" class="typeimg"><b>&nbsp; Bedrooms</b><span class="colorred">*</span></h4>
			                	</div>
			                	<div class="col-8">
			                		<div class="boxdetails">
										<input  name="" placeholder="No. of bedrooms">
									</div>
			                	</div>
			                </div>
			                <div class="row marginrow">
			                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
			                		<h4><img src="./assets/images/bathroom.png" class="typeimg"><b>&nbsp; Bathrooms</b><span class="colorred">*</span></h4>
			                	</div>
			                	<div class="col-8">
			                		<div class="boxdetails">
										<input  name="" placeholder="No. of bathrooms">
									</div>
			                	</div>
			                </div>
			                <div class="row marginrow">
			                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
			                		<h4><img src="./assets/images/size.png" class="typeimg"><b>&nbsp; Size(m2)</b><span class="colorred">*</span></h4>
			                	</div>
			                	<div class="col-8">
			                		<div class="boxdetails">
										<input  name="" placeholder="Size of the unit">
									</div>
			                	</div>
			                </div>
			                <div class="row marginrow">
			                	<div class="col-4">
			                		<h4><img src="./assets/images/star.png" class="typeimg"><b>&nbsp; Features</b><span class="colorred">*</span></h4>
			                	</div>
			                	<div class="col-8">
			                		<div class="row">
			                			<div class="col-4">
			                				<div class="row">
			                					<div class="col-3 paddingfurnishedimg-{{'lang'|translate}}">
			                						<img src="./assets/images/chair.png" class="typeimg">
			                					</div>
			                					<div class="col-9 paddingfurnished-{{'lang'|translate}}">
			                						<p>Furnished</p>
			                					</div>
			                					
			                				</div>
			                				
			                			</div>
			                			<div class="col-8 types">
											<mat-radio-group aria-label="Select an option">
												<div class="row">
													<div class="col-6">
														<mat-radio-button value="1">Furnished  </mat-radio-button>
													</div>
													<div class="col-6">
														<mat-radio-button value="2">Semi Furnished</mat-radio-button>
													</div>
												</div>
											</mat-radio-group>
										</div>
			                		</div>
			                		<div class="row">
			                			<div class="col-4">
			                				<div class="row">
			                					<div class="col-3 paddingfurnishedimg-{{'lang'|translate}}">
			                						<img src="./assets/images/garden.png" class="typeimg">
			                					</div>
			                					<div class="col-9 paddingfurnished-{{'lang'|translate}}">
			                						<p>Private Garden</p>
			                					</div>
			                					
			                				</div>
			                				
			                			</div>
			                			<div class="col-8 types">
											<mat-radio-group aria-label="Select an option">
												<div class="row">
													<div class="col-6">
														<mat-radio-button value="1">Yes  </mat-radio-button>
													</div>
													<div class="col-6">
														<mat-radio-button value="2">No</mat-radio-button>
													</div>
												</div>
											</mat-radio-group>
										</div>
			                		</div>
			                	</div>
			                </div>
			                <div class="row marginrow">
			                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
			                		<h4><img src="./assets/images/price.png" class="typeimg"><b>&nbsp; Price</b><span class="colorred">*</span></h4>
			                	</div>
			                	<div class="col-4">
			                		<div class="boxdetails">
										<input required name="" placeholder="Price">
									</div>
			                	</div>
			                	<div class="col-2">
			                		<div class="boxdetails">
										<mat-select>
										    <mat-option value="s1">select1</mat-option>
										    <mat-option value="s2">select2</mat-option>
										    <mat-option value="s3">select3</mat-option>
										    <mat-option value="s4">select4</mat-option>
										</mat-select>
									</div>
			                	</div>
			                	<div *ngIf="addRequest.process == 'R'"class="col-2">
			                		<div class="boxdetails">
										<mat-select>
										    <mat-option value="s1">select1</mat-option>
										    <mat-option value="s2">select2</mat-option>
										    <mat-option value="s3">select3</mat-option>
										    <mat-option value="s4">select4</mat-option>
										</mat-select>
									</div>
			                	</div>
			                </div>
		
			                <div class="row marginrow">
			                	<div  class="col-12 textcenter findlodge ">
			                		<button (click)="toggle('second','+')"   mat-raised-button><b>NEXT</b></button>
			                	</div>
			                </div>
			                
		            	</form>
		                
		            </div>
		             <!-- --------------- step 2 --------------- -->
		            <div class="" *ngIf="second">

		                <div class="row marginrow">
		                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
		                		<h4><img src="./assets/images/governorate.png" class="typeimg"><b>&nbsp; Governorate</b><span class="colorred">*</span></h4>
		                	</div>
		                	<div class="col-8">
		                		<div class="boxdetails">
									<mat-select>
									    <mat-option value="s1">select1</mat-option>
									    <mat-option value="s2">select2</mat-option>
									    <mat-option value="s3">select3</mat-option>
									    <mat-option value="s4">select4</mat-option>
									</mat-select>
								</div>
		                	</div>
		                </div>
		                <div class="row marginrow">
		                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
		                		<h4><img src="./assets/images/area.png" class="typeimg"><b>&nbsp; Area</b><span class="colorred">*</span></h4>
		                	</div>
		                	<div class="col-8">
		                		<div class="boxdetails">
									<mat-select>
									    <mat-option value="s1">select1</mat-option>
									    <mat-option value="s2">select2</mat-option>
									    <mat-option value="s3">select3</mat-option>
									    <mat-option value="s4">select4</mat-option>
									</mat-select>
								</div>
		                	</div>
		                </div>
		                <div class="row marginrow">
		                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
		                		<h4><img src="./assets/images/compound.png" class="typeimg"><b>&nbsp; Compound</b><span class="colorred">*</span></h4>
		                	</div>
		                	<div class="col-8">
		                		<div class="boxdetails">
									<mat-select>
									    <mat-option value="s1">select1</mat-option>
									    <mat-option value="s2">select2</mat-option>
									    <mat-option value="s3">select3</mat-option>
									    <mat-option value="s4">select4</mat-option>
									</mat-select>
								</div>
		                	</div>
		                </div>
		                <div class="row marginrow">
		                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
		                		<h4><img src="./assets/images/pen.png" class="typeimg"><b>&nbsp; Title</b><span class="colorred">*</span></h4>
		                	</div>
		                	<div class="col-8">
		                		<div class="boxdetails">
									<input  name="" placeholder="Write Title">
								</div>
		                	</div>
		                </div>
		                <div class="row marginrow">
		                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
		                		<h4><img src="./assets/images/pen.png" class="typeimg"><b>&nbsp; Description</b><span class="colorred">*</span></h4>
		                	</div>
		                	<div class="col-8">
		                		<div class="boxdetails">
									<textarea  placeholder="Write something"></textarea>
								</div>
		                	</div>

		                </div>
		                <div class="row marginrow">
		                	<div class="col-6 textcenter findlodge">
		                		<button (click)="toggle('first','-')"  mat-raised-button><b>PREVIOUS</b></button>
		                	</div>
		                	<div class="col-6 textcenter findlodge">
		                		<button (click)="toggle('third','+')" class="dsButtonAnim" mat-raised-button><b>NEXT</b></button>
		                	</div>

		                </div>



		            </div>
		            <!-- --------------- step 3 ------------------------  -->

		            <div class="" *ngIf="third" >
		            	<form>
		            		<div class="row margrow1">
			                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
			                		<h4><img src="./assets/images/photos.png" class="typeimg"><b>&nbsp; Real Photo</b><span class="colorred">*</span></h4>
			                	</div>
			                	<div class="col-8">
			                		<!-- <div class="textcenter">
			                			<div class="row">
			                				<div class="col-12">
			                					<img src="./assets/images/images.png" class="loadimg">
			                				</div>
			                			</div>
			                			<div class="row">
			                				<div class="col-12">
			                					<p class="colorgrey">Upload Real Photos</p>
			                				</div>
			                			</div>
			                		</div> -->
			                		<div >
			                				<img src="./assets/images/images.png" class="loadingimg">
			                			<div   class="img_wrp">
			                				<img src="./assets/images/nourth.jpg" class="loadingimg">
			                				<img class="close" src="./assets/images/close black.png" />
			                			</div>
			                			<div class="img_wrp">
			                				<img src="./assets/images/popup.jpg" class="loadingimg">
			                				<img class="close" src="./assets/images/close black.png" />
			                			</div>
			                			<div class="img_wrp">
			                				<img src="./assets/images/newcairo.jpg" class="loadingimg">
			                				<img class="close" src="./assets/images/close black.png" />
			                			</div>

			                		</div>
			                	</div>
			                </div>
			                <div class="row marginrow">
			                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
			                		<h4><img src="./assets/images/floorplan.png" class="typeimg"><b>&nbsp; Floor Plan</b><span class="colorred">*</span></h4>
			                	</div>
			                	<div class="col-8">
			                	<!--<div class="textcenter">
			                			<div class="row">
			                				<div class="col-12">
			                					<img src="./assets/images/plan.png" class="loadimg">
			                				</div>
			                			</div>
			                			<div class="row">
			                				<div class="col-12">
			                					<p class="colorgrey">Upload Floor Plan</p>
			                				</div>
			                			</div>
			                		</div> -->
			                		<div >
			                			<img src="./assets/images/floorplanimg.png" class="loadingimg">

			                		</div>
			                	</div>
			                </div>
			                <div class="row marginrow">
			                	<div class="col-4 paddingfurnishedimg-{{'lang'|translate}}">
			                		<h4><img src="./assets/images/location.png" class="typeimg"><b>&nbsp; Set Location</b><span class="colorred">*</span></h4>
			                	</div>
			                	<div class="col-8">
			                		<div class="mapouter">
										<div class="gmap_canvas">
											<iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=innovitics&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

											</iframe>
											Werbung: <a href="https://www.jetzt-drucken-lassen.de">jetzt-drucken-lassen.de</a>
										</div>
									</div>
			                	</div>
			                </div>
			                <div class="row marginrow">
			                	<div class="col-6 textcenter findlodge">
			                		<button (click)="toggle('second','-')"  mat-raised-button><b>PREVIOUS</b></button>
			                	</div>
			                	<div class="col-6 textcenter findlodge">
			                		<button class="btn" mat-raised-button><b>Lodge It</b><span><b></b> <b></b> <b></b></span> </button>
			                	</div>
			                </div>
		            	</form>
		                
		                <!-- <div class="buttonContainer">
								<div class="dsButtonAnim" ><span>Animate me</span></div>
							</div> -->


		            </div>
				</div>

			</div>
			<!-- ------------------------------ right part ------------------------------ -->
			<div class="col-3 paddingdiscover-{{'lang'|translate}}">
				<app-ourpartners></app-ourpartners>

			</div>
		</div>
	</div>
</div>


<app-navbar></app-navbar>
<app-footer></app-footer>
