.homepage{
  margin: 80px 0 0 0 ;
  z-index: 2;
}

.paddingquick-en{

  border-right: 1px solid #dedede;
}
.paddingfeatured{
  background-color: #f5f5f5;
}
.homecenterpart {
  padding: 25px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}
.cursorarrow{
  cursor: context-menu;
}

.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}
.align-center{
  text-align: -webkit-center;
}
.textcenter{
  text-align: center;
}
.colororange{
  color: #F97304;
}
.colorblack{
  color: #000;
}
.colorgreen{
  color: #54c242;
}
.colorred{
  color: #ff0015;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}
.align-end{
  text-align: end;
}


/* ----------------------------------    center part ------------------------------ */
.yourlodge{
  padding: 53px 15px 0px 15px;
}

.typeimg{
  width: 19px;
}
.slidepadding{
  padding: 0 15px 100px 15px;
}
.boxdetails{
  background: #fff;
  border: 1px solid #dedede;
  padding: 6px 7px 7px 7px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 3px 2px 4px 1px #dedede9e;
}
.boxdetails textarea {
  width: 100%;
  border: none;
  height: 73px;
}
.boxdetails input{
  background: transparent;
  border: none;
  width: 80%;
}
.marginrow{
  margin-top: 60px;
}
.boxdetails::ng-deep.mat-select-value{
  color: #777;
}
.boxdetails::ng-deep.mat-select-arrow{
  color: #777;
}
.types::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #03A9F4;
}
.types::ng-deep.mat-radio-outer-circle{
  border-color: #ededed;
}

.types::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle, .types::ng-deep.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .types::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .types::ng-deep.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #03A9F4;
}
.types::ng-deep.mat-radio-label{
  /*margin-top: 6px;*/
}
.types::ng-deep.mat-radio-label-content{
  color:  #777;
  font-weight: 500;
}
.findlodge::ng-deep.mat-raised-button{
  background: #1da1f2;
  color: #fff;
  width: 66%;
  border-radius: 0;
  margin-top: 30px;
}


.loadimg{
  width: 47px;
  margin-top: -20px;
}

/* ---------------------- steper ------------------ */

.check{
  border: 1.2px solid #1da1f2;
  text-align: center;
  width: 21px;
  height: 21px;
  font-size: 12px;
  border-radius: 50%;
  background: #fff;
  color: #fff;
}
.checkactive{
  border: 1.2px solid #1da1f2;
  text-align: center;
  width: 21px;
  height: 21px;
  font-size: 12px;
  border-radius: 50%;
  background: #1da1f2;
  color: #fff;
}
.paddingzero{
  padding: 0;
}
.hrstepergrey{
  border-top: 1.5px solid #ededed;
  width: 161%;
  margin-left: -12px;
}
.hrsteperblue{
  border-top: 1.5px solid #1da1f2;
  width: 166%;
  margin-left: -15px;
}






/* ---------------------- steper ------------------ */
.rentimg{
  width: 40px;
}
.margincol{
  margin-top: 12px;
}
.margrow{
  margin-top: 25px;
}
.margrow1{
  margin-top: 40px;
}
.borderrentcar-en{
  border-right: 1.5px solid #ededed;
}


/* ---------------------- map ------------------ */
.mapouter{position:relative;text-align:right;height:230px;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:230px;width:100%;}


/* ---------------------- map ------------------ */
.loadingimg{
  width: 58px;
  height: 52px;
  border-radius: 4px;
  margin: 0px 5px 8px 5px;
}
.img_wrp {
  display: inline-block;
  position: relative;
}
.close {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 7px;
}
.paddingfurnished-en{
  padding: 0 0px 0 3px;
}



/* -----------------loading  button -----------------*/
@keyframes stretch {
  0% {
    transform: scale(0.5);
    background-color: #B5DDF0;
  }
  50% {
    background-color: #CFE9F6;
  }
  100% {
    transform: scale(1);
    background-color: #FFFFFF;
  }
}
.btn {
  align-items: center;
  background: #5AC3E8;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-flex;
/*  height: 36px;*/
  justify-content: center;
  min-width: 90px;
}
.btn.btn--loading {
  font-size: 0;
}
.btn.btn--loading span {
  display: flex;
}
.btn.btn--loading span b {
  animation-direction: alternate;
  animation-duration: .5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: stretch;
  animation-play-state: running;
  animation-timing-function: ease-out;
  border-radius: 100%;
  display: block;
  height: 10px;
  margin: 0 1px;
  width: 10px;
  animation-delay: .1s;
  margin: 0 5px;
  margin-top: -23px;
}
.btn.btn--loading span b:first-child {
  animation-delay: 0s;
  margin: 0;
   margin-top: -23px;
}
.btn.btn--loading span b:last-child {
  animation-delay: .2s;
  margin: 0;
   margin-top: -23px;
}
.btn b {
}
.btn span {
  display: none;
}

/* ----------------- loading button -----------------*/



/* ----------------------------------    center part ------------------------------ */
/*arabic css */

.paddingquick-ar{

  border-left: 1px solid #dedede;
}


.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{

  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}


.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}

.borderrentcar-ar{
  border-left: 1.5px solid #ededed;
}

.paddingfurnished-ar{
  padding: 0 3px 0 0px;
}


/* ----------------- media ----------------- */

@media screen and (max-width: 1410px) {
  .hrsteperblue {
    width: 163%;
    margin-left: -18px;
  }
  .hrstepergrey{
    margin-left: -11px;
  }
}

@media screen and (max-width: 1310px) {
  .hrsteperblue {
    width: 165%;
    margin-left: -10px;
  }
  .hrstepergrey{
    margin-left: -9px;
  }
  .slidepadding{
    font-size: 12px;
  }
  .typeimg {
    width: 17px;
  }
  .types::ng-deep.mat-radio-inner-circle{
    width: 17px;
    height: 17px;

  }
  .types::ng-deep.mat-radio-outer-circle{
    width: 17px;
    height: 17px;
  }
}


@media screen and (max-width: 1220px) {
  .hrstepergrey{
    margin-left: -7px;
  }
  .hrsteperblue {
    width: 167%;
  }
}

@media screen and (max-width: 1156px) {
  .slidepadding {
    padding: 0 10px 100px 10px;
  }
  .yourlodge {
    padding: 53px 10px 0px 10px;
  }
  .paddingfurnished-en{
    padding: 0 0px 0 8px;
  }
  .paddingfurnishedimg-en{
    padding-right: 0px;
  }
  .paddingfurnishedimg-ar{
    padding-left: 0px;
  }
  .types::ng-deep.mat-radio-label-content{
    margin-left: -6px;
  }
}
@media screen and (max-width: 1071px) {
  .hrstepergrey{
    margin-left: -6px;
  }

}

@media screen and (max-width: 1040px) {
  .hrstepergrey{
    margin-left: -4px;
    width: 147%;
  }
  .types::ng-deep.mat-radio-label-content{
    margin-left: -6px;
  }

}



@media screen and (max-width: 1024px) {

}

/* -----  other design ----- */
@media screen and (max-width: 975px) {


}
