@font-face {
  font-family: 'Lodge-icons';
  src:  url('fonts/Lodge-icons.eot?son4li');
  src:  url('fonts/Lodge-icons.eot?son4li#iefix') format('embedded-opentype'),
    url('fonts/Lodge-icons.ttf?son4li') format('truetype'),
    url('fonts/Lodge-icons.woff?son4li') format('woff'),
    url('fonts/Lodge-icons.svg?son4li#Lodge-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Lodge-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ads:before {
  content: "\e900";
  color: #1da1f2;
}
.icon-edit-profile:before {
  content: "\e901";
  color: #1da1f2;
}
.icon-explore-tab:before {
  content: "\e902";
  color: #1da1f2;
}
.icon-favorite:before {
  content: "\e903";
  color: #1da1f2;
}
.icon-help:before {
  content: "\e904";
  color: #1da1f2;
}
.icon-home-tab:before {
  content: "\e905";
  color: #8d8d8d;
}
.icon-login:before {
  content: "\e906";
  color: #8d8d8d;
}
.icon-logout:before {
  content: "\e907";
  color: #ff0015;
}
.icon-more-tab:before {
  content: "\e908";
  color: #8d8d8d;
}
.icon-profile:before {
  content: "\e909";
  color: #8d8d8d;
}
.icon-Register:before {
  content: "\e90a";
  color: #8d8d8d;
}
.icon-supplier:before {
  content: "\e90b";
  color: #8d8d8d;
}
