@font-face {
  font-family: 'proxima-nova-border';
  src:  url('fonts/proxima-nova-border.eot?ipbwc2');
  src:  url('fonts/proxima-nova-border.eot?ipbwc2#iefix') format('embedded-opentype'),
    url('fonts/proxima-nova-border.ttf?ipbwc2') format('truetype'),
    url('fonts/proxima-nova-border.woff?ipbwc2') format('woff'),
    url('fonts/proxima-nova-border.svg?ipbwc2#proxima-nova-border') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'proxima-nova-border' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-10:before {
  content: "\30";
}
.icon-01:before {
  content: "\31";
}
.icon-02:before {
  content: "\32";
}
.icon-03:before {
  content: "\33";
}
.icon-04:before {
  content: "\34";
}
.icon-05:before {
  content: "\35";
}
.icon-06:before {
  content: "\36";
}
.icon-07:before {
  content: "\37";
}
.icon-08:before {
  content: "\38";
}
.icon-09:before {
  content: "\39";
}
.icon-dot-11:before {
  content: "\2e";
}
.icon-r-18:before {
  content: "\72";
}
.icon-s-19:before {
  content: "\73";
}
.icon-t-20:before {
  content: "\74";
}
.icon-u-21:before {
  content: "\75";
}
.icon-v-22:before {
  content: "\76";
}
.icon-w-23:before {
  content: "\77";
}
.icon-x-24:before {
  content: "\78";
}
.icon-y-25:before {
  content: "\79";
}
.icon-z-26:before {
  content: "\7a";
}
.icon-a-01:before {
  content: "\61";
}
.icon-b-02:before {
  content: "\62";
}
.icon-c-03:before {
  content: "\63";
}
.icon-d-04:before {
  content: "\64";
}
.icon-e-05:before {
  content: "\65";
}
.icon-f-06:before {
  content: "\66";
}
.icon-g-07:before {
  content: "\67";
}
.icon-h-08:before {
  content: "\68";
}
.icon-i-09:before {
  content: "\69";
}
.icon-j-10:before {
  content: "\6a";
}
.icon-k-11:before {
  content: "\6b";
}
.icon-l-12:before {
  content: "\6c";
}
.icon-m-13:before {
  content: "\6d";
}
.icon-n-14:before {
  content: "\6e";
}
.icon-o-15:before {
  content: "\6f";
}
.icon-p-16:before {
  content: "\70";
}
.icon-q-17:before {
  content: "\71";
}
.icon-A-01:before {
  content: "\41";
}
.icon-B-02:before {
  content: "\42";
}
.icon-C-03:before {
  content: "\43";
}
.icon-D-04:before {
  content: "\44";
}
.icon-E-05:before {
  content: "\45";
}
.icon-F-06:before {
  content: "\46";
}
.icon-G-07:before {
  content: "\47";
}
.icon-H-08:before {
  content: "\48";
}
.icon-I-09:before {
  content: "\49";
}
.icon-J-10:before {
  content: "\4a";
}
.icon-K-11:before {
  content: "\4b";
}
.icon-L-12:before {
  content: "\4c";
}
.icon-M-13:before {
  content: "\4d";
}
.icon-N-14:before {
  content: "\4e";
}
.icon-O-15:before {
  content: "\4f";
}
.icon-P-16:before {
  content: "\50";
}
.icon-Q-17:before {
  content: "\51";
}
.icon-R-18:before {
  content: "\52";
}
.icon-S-19:before {
  content: "\53";
}
.icon-T-20:before {
  content: "\54";
}
.icon-U-21:before {
  content: "\55";
}
.icon-V-22:before {
  content: "\56";
}
.icon-W-23:before {
  content: "\57";
}
.icon-X-24:before {
  content: "\58";
}
.icon-Y-25:before {
  content: "\59";
}
.icon-Z-26:before {
  content: "\5a";
}
