.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}

.paddingquick-en{
  
  border-right: 1px solid #dedede;
}
.paddingfeatured-en{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}
.paddingfeatured{
  padding: 0;
}
.homecenterpart {
  padding: 25px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}

.cursorarrow{
  cursor: context-menu;
}
.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}




.placesbackrgound-en{
  margin: 0 8px 0 0px;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}

.arrowicon{
  font-size: 24px;
  color: #e5e5e5;
  text-align: end;
}


























/*arabic css */

.paddingquick-ar{
 
  border-left: 1px solid #dedede;
}
.paddingfeatured-ar{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}

.logo-bottom-ar {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}


