 <div class="container">
  
 <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sgininpopup">
    Open modal
  </button> -->

  <!-- The Modal -->
  <div class="modal fade" id="sgininpopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <!-- <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div> -->
        
        <!-- Modal body -->
        <div class="modal-body ">
        	<div class="row">
        		<div class="col-6 paggingimg">
        			<!-- <img src="./assets/images/popup.jpg" class="popupimg"> -->
        		</div>
        		<div class="col-6 boxpadding">
        			<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        			<br><br>
		            <h3 class="colorblue"><b>SIGN IN</b></h3>
		            
		            <div class="box">
		            	  <div class="row">
							<div class="col-12">
								<div class="boxdetails">
									<img src="./assets/images/email blue.png" class="boxdetailsimg">
									<input  name="" placeholder=" Email Address">
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-12">
								<div class="boxdetails boxdetailspadding">
									<img src="./assets/images/password blue.png" class="boxdetailsimg">
									
									<input matInput placeholder=" Password" [type]="hide ? 'password' : 'text'">
    								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</div>
								<div class="signinbutt">
									<a data-toggle="modal" data-target="#resetepopup"><p class="forgetpass"><b>FORGOT PASSWORD?</b></p></a>
								</div>
								
							</div>
							
						</div>
		            </div>
		            
		            <div class="signinbutt">
		            	<button mat-raised-button><b>SIGN IN</b></button>
		            </div>
		            <div class="orline">
		            	<p class="background"><span>or</span></p>
		            </div>
		            <div class="facebookbutt">
		            	<button mat-raised-button><img src="./assets/images/facebook.png" class="doneimg">&nbsp;  CONTINUE WITH FACEBOOK</button>
		            </div>
		            <div >
		            	<p class="signupgrey">Don’t have an account? <a class="signupgrey" ><b> SIGN UP</b></a> </p>
		            </div>


		          <!-- <button mat-button>Done <img src="./assets/images/circle arrow.png" class="doneimg"></button> -->
		           
        		</div>
        	</div>
         
        </div>
        
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>
  
</div>


<app-popupresetpassword></app-popupresetpassword>
