.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}

.positionrelative{
  position: relative;
}
.paddingfeatured-en{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}
.homecenterpart {
  padding: 25px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}


.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}


.cursor-pointer{
  cursor: pointer;
}

.discover{
  margin-top: 40px;
  margin-bottom: 40px;
}




 

.homecenterpart .carousel-indicators li{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #fff;
  opacity: 1;
}


.homecenterpart .carousel-indicators .active{
  background-color: #1da1f2;
  border-color: #1da1f2;
  width: 9px;
  height: 9px;
}


.welcometolodge {
  position: absolute;
  font-family: Pacifico;
  top: 43%;
  /* left: 50%; */
  width: 100%;
  text-align: center;
  font-size: 39px;
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}
.logo-bottom-en {
  position: absolute;
  bottom: 20px;
  left: 16px;
}


.welcomebox {
  /*position: relative;
  text-align: center;*/
  color: white;
}


.imgcenterlogo{ 
  width: 22%;
  margin-top: -16px;
}

.imgbottomlogo{
  width: 75px;
}





.logorightimg{
  width: 50px;
  border-radius: 6px;
  height: 50px;
}

.placesbackrgound{
  background-color: #ededed;
  padding: 2px 4px 2px 4px;
  color: #777777;
  min-width: 80px;
  border: none;
}
.placesbackrgound-en{
  margin: 0 8px 0 0px;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}

.arrowicon{
  font-size: 24px;
  color: #e5e5e5;
  text-align: end;
}





/*slick  slide */
.slick-slider {
  width: 105.5%;
  margin: auto;
  margin-bottom: 45px;

  
}
 
.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}
 
.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}
 
.prev-slide {
  background: url('/assets/images/ikealogo.jpg') no-repeat scroll 0 0;
  left: -33px;
}
 
.next-slide {
  background: url('/assets/images/ikealogo.jpg') no-repeat scroll -24px 0px;
  right: -33px;
}
 
.prev-slide:hover {
  background-position: 0px -53px;
}
 
.next-slide:hover {
  background-position: -24px -53px;
}

.marginslider{
  margin: 0 8px 20px 0;
  background: #fff;
  box-shadow: -2px 7px 4px 1px #67676b1a;
  border-radius: 5px;
}

.imgfeltured{
  height: 140px;
/*  border-radius: 5px;*/
}
.slick-initialized .slick-slide{
  padding-right: 20px;
}
.slickdescription{
  padding: 8px 8px 8px 8px;
}

.slick-initialized .slick-slide:focus{
  outline: none !important;
}

.sizeinch{
  width: 20px;
}
.fontcircle{
  font-size: 8px;
}

.hearttopright {
  position: absolute;
  top: 8px;
  right: 16px;
}

.pricebottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background: #fff;
  border-radius: 9px;
  padding: 0 8px;
}

.imgfelturedbox{
  position: relative;
}
.heartwidth{
  width: 22px;
}

/*slick slide*/
.seeall{
  text-align: end;
  color: #1da1f2;
}

.hearticon{
  border: none;
  background: transparent;
}

button:focus{
  outline: none !important;
}




/* ----------------- shimmer ----------------*/
.card-container {
  position: relative;
}
.card-container .card {
  border: none;
}
/*.card-container .card:nth-child(2) {
  top: 160px;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.card-container .card:nth-child(1) {
  top: 180px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}*/
.card-container .card .shimmerBG {
  
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
          animation-name: shimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #dde9eb;
  background: linear-gradient(to right, #dde9eb 4%, #bbc6c7 35%, #dde9eb 36%);
  background-size: 1200px 100%;
  
}
@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
.card-container .media {
  height: 283px;
  border-radius: 5px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.card-container .p-32 {
  /*padding: 32px;*/
}
.card-container .title-line {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  height: 140px;
  width: 100%;
  margin: 0px 0 10px 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.card-container .content-line {
  -webkit-animation-duration: 3s;
    animation-duration: 3s;
  height: 15px;
  width: 78%;
  margin: 5px 0px 5px 0;
  border-radius: 0px;
}
.card-container .end {
  width: 30%;
}

.m-t-24 {
  margin-top: 24px;
}




/* ----------------- shimmer ----------------*/










/*arabic css */

.paddingquick-ar{
  padding-left: 0;
  border-left: 1px solid #dedede;
}
.paddingfeatured-ar{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}

.logo-bottom-ar {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}


/* ----------------- media ----------------- */

@media screen and (max-width: 1450px) {
  .slick-slider {
    width: 105.7%; 
  }
}



@media screen and (max-width: 1370px) {
  .welcometolodge {
    font-size: 35px;

  }
  .slick-slider {
    width: 105.6%; 
  }
  .homecenterpart {
    padding: 25px 18px 43px 18px;
  }
}


@media screen and (max-width: 1200px) {
  .welcometolodge {
    font-size: 34px;

  }
  .slick-slider {
    width: 104.9%; 
  }
  .imgcenterlogo {
    width: 22.5%;
  
  }
  .homecenterpart {
    padding: 25px 10px 43px 10px;
    font-size: 11px;
  }
  .pricebottomright {
    padding: 0px 6px;
    font-size: 10px;
  }

}

@media screen and (max-width: 1160px) {
  .sizeinch {
    width: 16px;
  }
  .paddingdescription{
    padding-left: 9px;
    padding-right: 9px;
  }
}
@media screen and (max-width: 1060px) {
  .welcometolodge {
    font-size: 30px;

  }
  .imgcenterlogo {
    margin-top: -13px;
  
  }
}

/* -----  other design ----- */
@media screen and (max-width: 975px) {

  
}