<div class="navbar1" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
		<div class="col-3 logopadding">
			<img src="./assets/images/logo.png" class="logo">
		</div>
		<div class="col-6 align-center lineheightnavbar">
			<div class="row">
				<div class="col-1">
					
				</div>
				<div class="col-2">
					<span><a routerLink="/homepage" ><i class=" icon-home-tab"></i></a><p>Home</p></span>
				</div>
				<div class="col-2">
					<span><a routerLink="/find"><i class="icon-explore-tab"></i></a><p>Explore</p></span>
				</div>

				<div class="col-2">
					<a routerLink="/add"><img src="./assets/images/add.png" class="addimg"></a>
				</div>
				<div class="col-2">
					<span><a routerLink="/fav"><i class="icon-favorite"></i></a><p>Favorite</p></span>
				</div>
				<div class="col-2" >
					<span><a routerLink="/more" ><i class="icon-more-tab"></i></a><p>More</p></span>
				</div>
				<div class="col-3">
					
				</div>
			</div>
			



			
			
			
			
			
		</div>
		<div class="col-3 a-fontsize paddinglogin">
			<div class="row">
				
				<div class="col-4 end">
					<a class="font-family-{{'lang'|translate}}" data-toggle="modal" data-target="#sgininpopup"><i class="icon-login"> </i> Login</a>
				</div>
				<div class="col-4 borderreg-{{'lang'|translate}}">
					<a class="font-family-{{'lang'|translate}}" data-toggle="modal" data-target="#signuppopup"><i class="icon-Register "> </i> Register </a>
				</div>
				<div class="col-4">
					<a class="font-arabic-{{'lang'|translate}}" (click)="switchLang(langSelector)">{{'language'|translate}}</a>
				</div>
			</div>
		</div>
	</div>
	</div>
	
	
</div>

<div class="navbar2">
	
</div>





<app-popupsignup></app-popupsignup>
<app-popupsignin></app-popupsignin>