<div class="homepage" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
			<!-- ------------------------------ left part ------------------------------ -->
			<div class="col-3 paddingquick-{{'lang'|translate}}">
				<app-quicksearch></app-quicksearch>



			</div>
			<!-- ------------------------------ center part ------------------------------ -->
			<div class="col-6 paddingfeatured">
				<div class="myadsdetail" >
					<div class="developerheader">
						<div class="developerheaderwidth">
							<div id="myCarousel" class="carousel slide" data-ride="carousel">
						    <!-- Indicators -->
						    <ol class="carousel-indicators">
						      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						      <li data-target="#myCarousel" data-slide-to="1"></li>
						      <li data-target="#myCarousel" data-slide-to="2"></li>
						    </ol>

						    <!-- Wrapper for slides -->
						    <div class="carousel-inner">
						      <div class="item active welcomebox">
						        
								<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%; height: 350px;">
								
								
						      </div>

						      <div class="item welcomebox">
						        
								<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%;height: 350px;">
								
								
						      </div>
						    
						      <div class="item welcomebox">
						        
								<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%;height: 350px;">
								
								
						      </div>
						    </div>
						    <div class="bg-img">
								
							</div>
						</div>
					       
						</div>
						<div class="developerheadername">
							<div class="row">
								<div class="col-6">
									<p class="font11px colorgrey">1 Day ago</p>
								</div>
								<div class="col-6 align-end">
									<p class="font11px"><img src="./assets/images/fast reply.png" class="fastimg"> <b>Boost Now</b></p>
								</div>
							</div> 

							<div class="row">
								<div class="col-6">
					       			<h3><b>Villa at New Cairo</b></h3>
								</div>
								<!-- <div class="col-3 align-end">
										
								</div> -->
								<div class="col-6 align-end">
									<p><span class="bgorange"> 4.3 <i class="fa fa-star" aria-hidden="true"></i> </span>
									<img src="./assets/images/blue heart border.png" class="socialimg2-{{'lang'|translate}}">
									<img src="./assets/images/share.png" class="socialimg2-{{'lang'|translate}}"></p>
									
								</div>
								
							</div>
							<div class="row">
								<div class="col-6">
									<h4 class="colororange"><b>EGP 7,000,000</b></h4>
								</div>
								<div class="col-6 align-end">
									<!-- <h5 class="colorlightblue"> <b>See Mortgage </b> <img src="./assets/images/circle arrow.png" class="mortageimg"></h5> -->
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<p class="font11px colorgrey">Villa  |  REF: JG9756</p>
								</div>
							</div>
							<div class="row">
								<div class="col-3">
									<p class="font11px colorgrey"><i class="fa fa-eye" aria-hidden="true"></i> 315 Views</p>
								</div>
								<div class="col-9 align-end">
									<p class="font12px"><b><img src="./assets/images/size.png" class="bedroomimg-{{'lang'|translate}}">&nbsp; 200 sqm  <img src="./assets/images/bed.png" class="bedroomimg-{{'lang'|translate}}">&nbsp; 3 Bedrooms  <img src="./assets/images/bathroom.png" class="bedroomimg-{{'lang'|translate}}">&nbsp; 2 Bathrooms </b></p>
								</div>
							</div>
							<p><button class="placesbackrgound2 placesbackrgound2-{{'lang'|translate}}"><img src="./assets/images/fast reply.png" class="fastimg"> Fast Reply </button> <button class="placesbackrgound2 placesbackrgound2-{{'lang'|translate}}"><i class="fa fa-star colororange starsize" aria-hidden="true"></i> Excellent Service</button> <button class="placesbackrgound2 placesbackrgound2-{{'lang'|translate}}"><i class="fa fa-bookmark colororange starsize" aria-hidden="true"> </i>  Accurate Info</button></p>
					    </div>
					</div>
					<div class="aboutcompany">
						<div class="row">
							<div class="col-12">
								<h3><b>You’ll love it because</b></h3>
							</div>
							
						</div>
						<div class="row">
							<div class="col-4">
								<p><img src="./assets/images/floor.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"><b>Floor (0)</b></p>
							</div>
							<div class="col-4 textcenter">
								<p><img src="./assets/images/chair.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"><b>Furnished</b></p>

							</div>
							<div class="col-4 align-end">
								<p><img src="./assets/images/garden.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"><b>Private Garden</b></p>
							</div>
						</div>
						<hr class="hrgrey">

						<div class="row">
							<div class="col-12">
								<h3><b>Location</b></h3>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<p><b>Mivida, New Cairo, Cairo</b></p>
							</div>
						</div>
						<br>
						<a href="https://www.google.com.eg/maps?hl=en&tab=wl0"><img src="./assets/images/map.jpg" class="mapimg"></a>

						<hr class="hrgrey">
						<div class="row">
							<div class="col-12">
								<h3><b>Floor Plan</b></h3>
								<p><img src="./assets/images/floorplan.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"> View Floor Plan</p>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-12">
								<h3><b>Description</b></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
							</div>
						</div>
						<div class="row textcenter editads">
							<div class="col-12">
								<button data-toggle="modal" data-target="#letstalkpopup" mat-raised-button><b>CONTACT LODGER</b></button>
							</div>
						</div>
						

					</div>

				</div>	
			</div>
			<!-- ------------------------------ right part ------------------------------ -->
			<div class="col-3 paddingdiscover-{{'lang'|translate}}">
				<app-ourpartners></app-ourpartners>
				
			</div>
		</div> 
	</div>
</div>


<app-navbar></app-navbar>
<app-footer></app-footer>
<app-popupletstalk></app-popupletstalk>