@font-face {
  font-family: 'Lodge-icons';
  src:  url('fonts/Lodge-icons.eot?yrmnlt');
  src:  url('fonts/Lodge-icons.eot?yrmnlt#iefix') format('embedded-opentype'),
    url('fonts/Lodge-icons.ttf?yrmnlt') format('truetype'),
    url('fonts/Lodge-icons.woff?yrmnlt') format('woff'),
    url('fonts/Lodge-icons.svg?yrmnlt#Lodge-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Lodge-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ea977c050754544248f33f6e9cc00820:before {
  content: "\e100";
}
.icon-bbe42d005fc20ff5d7e3319e7ec967-1:before {
  content: "\e101";
}
