.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}


.paddingquick-en{
  
  border-right: 1px solid #dedede;
}
.paddingfeatured-en{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}


.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}



.placesbackrgound{
  background-color: #ededed;
  padding: 2px 4px 2px 4px;
  color: #777777;
  min-width: 80px;
  border: none;
}
.placesbackrgound-en{
  margin: 0 8px 0 0px;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}

.arrowicon{
  font-size: 24px;
  color: #e5e5e5;
  text-align: end;
}





.hrpraivcy{
  border-top: 1.5px solid #dedede;
}


.privacycenterpart {
  padding: 50px 25px 43px 15px;

}

.lodgeimglogo{
  width: 105px;
  margin: -15px 11px 0 11px;
}


.aboutlodgelogo{
  width: 100%;
}

.aboutmargin{
  margin-top: 45px;
}














/*arabic css */

.paddingquick-ar{

  border-left: 1px solid #dedede;
}
.paddingfeatured-ar{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}

.logo-bottom-ar {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}


/* ----------------- media ----------------- */

@media screen and (max-width: 1200px) {
  .lodgeimglogo {
    width: 97px;
    margin: -13px 11px 0 11px;
  }
  
}



@media screen and (max-width: 1070px) {
  .lodgeimglogo {
    width: 83px;
    margin: -11px 8px 0 8px;
 }
}


@media screen and (max-width: 1170px) {
  

}


@media screen and (max-width: 1024px) {
 
}

/* -----  other design ----- */
@media screen and (max-width: 975px) {

  
}