<div class="homepage" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
			<!-- ------------------------------ left part ------------------------------ -->
			<div class="col-3 paddingquick-{{'lang'|translate}}">
				
				<app-quicksearch></app-quicksearch>

			</div>
			<!-- ------------------------------ center part ------------------------------ -->
			<div class="col-6 paddingfeatured-{{'lang'|translate}}">
				<div class="privacycenterpart">
					<h2><b>About</b> <img src="./assets/images/logo.png" class="lodgeimglogo"></h2>
					<hr class="hrpraivcy">
					<div class="row">
						<div class="col-6">
							<h4><b>Welcome to our company</b></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="col-6">
							<img src="./assets/images/about1.jpg" class="aboutlodgelogo">
						</div>
						
					</div>
					<div class="row aboutmargin">
						<div class="col-6">
							<img src="./assets/images/about2.jpg" class="aboutlodgelogo">
							
						</div>
						<div class="col-6">
							<h4><b>Welcome to our company</b></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						
					</div>





				</div>
			</div>
			<!-- ------------------------------ right part ------------------------------ -->
			<div class="col-3 paddingdiscover-{{'lang'|translate}}">
				<app-ourpartners></app-ourpartners>
				
			</div>
		</div> 
	</div>
</div>


<app-navbar></app-navbar>
<app-footer></app-footer>


