<!-- <ul id="inline-popups">
    <li><a href="#test-popup" data-effect="mfp-zoom-in">Zoom</a></li>
    <li><a href="#test-popup" data-effect="mfp-newspaper">Newspaper</a></li>
    <li><a href="#test-popup" data-effect="mfp-move-horizontal">Horizontal move</a></li>
    <li><a href="#test-popup" data-effect="mfp-move-from-top">Move from top</a></li>
    <li><a href="#test-popup" data-effect="mfp-3d-unfold">3d unfold</a></li>
    <li><a href="#test-popup" data-effect="mfp-zoom-out">Zoom-out</a></li>
  </ul><! -- Popup itself 
<div id="test-popup" class="white-popup mfp-with-anim mfp-hide">You may put any HTML here. This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed.</div>


<div id="app">

    <div>
      <template slot="callToActionText">
				Test the VueJS modal here
			</template>
      <template slot="modalHeader">
				Sign in to your account
			</template>
      <template slot="modalBody">
				<label>E-mail</label>
				<input type="email" placeholder="mail@example.com">
				<label>Password</label>
				<input type="password" placeholder="+8 chars" auto-complete="new-password">
				
			</template>
      <template slot="modalFooter">
				<button class="button">Sign in</button>
			</template>
    </div>

    <div id="modal">
      <div class="modal">

        <! -- The call to action text
        <div class="modal__cta">
          <slot name="callToActionText"></slot>
        </div>

        <! -- The modal button 
        <div class="modal__button">
          <button class="button" (click)="click()">Open modal</button>
        </div>

        <! -- The modal dialog 
        <div class="modal__dialog" :class="{'active' : active}">
          <div class="modal__content">
            <button class="modal__close" (click)="click()">
							<i class="fa fa-times"></i>
						</button>
            <h3 class="modal__header">
              <slot name="modalHeader"></slot>
            </h3>
            <div class="modal__body">
              <slot name="modalBody"></slot>
            </div>
            <div class="modal__footer">
              <slot name="modalFooter"></slot>
            </div>
          </div>
        </div>

        <! -- The overlay for the modal 
        <div class="modal__overlay"></div>
      </div>
    </div>
  </div>
 -->



<!--  <div class="container"> -->
  
 <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signoutpopup">
    Open modal
  </button> -->

  <!-- The Modal -->
  <div class="modal fade" id="signoutpopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
          <br><br>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body center">
          <img src="./assets/images/sign out.png" class="signoutimg">
          <h4 class="noads"><b>Sign Out </b></h4>
          <button mat-raised-button><b>SUBMIT</b></button>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
        
      </div>
    </div>
  </div>
  
<!-- </div>
 -->
