.modal-header{
  border: none;
}
.signoutimg{
  width: 112px;
  margin-bottom: 16px;
}
.center{
  text-align: center;
}
.modal-footer{
  border: none;
}
button:focus {
  outline:none !important;
}
.noads{
  font-family: Pacifico;
  color: #000;
}
.close{
  font-size: 22px;
  opacity: 1;
}
.center::ng-deep.mat-raised-button {
  background-color: #1da1f2;
  color: #fff;
  width: 66%;
  border-radius: 0;
  margin-top: 40px;
  margin-bottom: 22px;
  /*font-size: 14px;
  line-height: 33px;
  font-weight: 700;*/
}


@media (min-width: 576px){
  .modal-dialog {
    max-width: 420px;
    
  }
}