<div>
	<div  class="filter">
		<h4><b>Filter</b></h4>
		<br>
		<h6><img src="./assets/images/bed.png" class="bedimg"> <b> No. of Bedrooms</b></h6>
		<ng5-slider [(value)]="value1" [(highValue)]="highValue1" [options]="options1"></ng5-slider>
		<h6><img src="./assets/images/bathroom.png" class="bedimg"> <b> No. of Bathroom</b></h6>
		<ng5-slider [(value)]="value2" [(highValue)]="highValue2" [options]="options2"></ng5-slider>
		<h6><img src="./assets/images/size.png" class="bedimg"> <b> Size (m2)</b></h6>
		<ng5-slider [(value)]="value3" [(highValue)]="highValue3" [options]="options3"></ng5-slider>

	</div>
	<div class="sortby">
		<h4><b>Sort by</b></h4>
		<br>
		<h6><img src="./assets/images/time.png" class="bedimg"> <b> Date of Ads</b></h6>
		<mat-radio-group aria-label="Select an option">
			<div class="row">
				<div class="col-6">
					<mat-radio-button value="1">Latest  </mat-radio-button>
				</div>
				<div class="col-6">
					<mat-radio-button value="2">Oldest</mat-radio-button>
				</div>
			</div>   
		</mat-radio-group>
		<br>
		<h6><img src="./assets/images/price.png" class="bedimg"> <b> Price</b></h6>
		<mat-radio-group aria-label="Select an option">
			<div class="row">
				<div class="col-6">
					<mat-radio-button value="1">High to Low </mat-radio-button>
				</div>
				<div class="col-6">
					<mat-radio-button value="2">Low to High</mat-radio-button>
				</div>
			</div>
		</mat-radio-group>
		<br>
		<h6><img src="./assets/images/star.png" class="bedimg"> <b> Rating</b></h6>
		<mat-radio-group aria-label="Select an option">
			<div class="row">
				<div class="col-6">
					<mat-radio-button value="1">High to Low </mat-radio-button>
				</div>
				<div class="col-6">
					<mat-radio-button value="2">Low to High</mat-radio-button>
				</div>
			</div>
		</mat-radio-group>
		<br>
		<br>
		<button mat-raised-button><b>APPLY</b></button>
	</div>
</div>