.filter{
	
  padding: 25px 16px 43px 16px;
}

/* --------------- slider -----------------*/
.filter::ng-deep.ng5-slider .ng5-slider-pointer{
  background-color: transparent !important;
}
.filter::ng-deep.ng5-slider .ng5-slider-selection {
  z-index: 2;
  background: #1da1f2 !important;
  border-radius: 2px;
}

.filter::ng-deep.ng5-slider.animate .ng5-slider-bubble.ng5-slider-limit {
  -webkit-transition: opacity linear .3s;
  transition: opacity linear .3s;
  bottom: -25px !important;
}


.filter::ng-deep.ng5-slider .ng5-slider-pointer:after {
  content: '';
  width: 12px !important;;
  height: 12px!important;;
  position: absolute;
  top: 11px !important;;
  left: 11px !important;;
  border-radius: 50% !important;;
  background: #fff;
  box-shadow: 2px 0px 6px 3px #aeaeae78;
}
.filter::ng-deep.ng5-slider .ng5-slider-bubble {

  font-size: 10px;
}
.filter::ng-deep.ng5-slider {
  margin: 22px 0 40px;
}
.filter::ng-deep.ng5-slider .ng5-slider-bar {
  background: #777;
}

/* ------------------------- slider ---------------------------*/

.bedimg{
  width: 22px;
}


/*-----------------------sort by ---------------------------*/
.sortby{
  padding: 25px 16px 43px 16px;
}

.sortby::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #03A9F4;
}
.sortby::ng-deep.mat-radio-outer-circle{
  border-color: #ededed;
}

.sortby::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle, .sortby::ng-deep.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .sortby::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .sortby::ng-deep.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #03A9F4;
}
.sortby::ng-deep.mat-radio-label{
  margin-top: 6px;
}
.sortby::ng-deep.mat-radio-label-content{
  font-size: 13px;
}
.sortby::ng-deep.mat-raised-button{
  background: #1da1f2;
  color: #fff;
  width: 100%;
  border-radius: 0;
}

/*-----------------------sort by ---------------------------*/
@media screen and (max-width: 1235px) {
  
}

@media screen and (max-width: 1200px) {
  .bedimg {
    width: 18px;
  }
}


@media screen and (max-width: 1070px) {
  .sortby::ng-deep.mat-radio-label-content{
    font-size: 11px;
  }
  .bedimg {
    width: 15px;
  }
  .sortby::ng-deep.mat-radio-inner-circle{
    width: 15px;
    height: 15px;

  }
  .sortby::ng-deep.mat-radio-outer-circle{
    width: 15px;
    height: 15px;
  }
  .sortby::ng-deep.mat-radio-button .mat-radio-ripple {
    height: 34px;
    width: 34px;
  }

}


@media screen and (max-width: 1024px) {
 
}

/* -----  other design ----- */
@media screen and (max-width: 975px) {

  
}