 <div class="container">
  
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#entercodepopup">
    Open modal
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="entercodepopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <!-- <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div> -->
        
        <!-- Modal body -->
        <div class="modal-body ">
        	<div class="row">
        		<div class="col-6 paggingimg">
        			<!-- <img src="./assets/images/popup.jpg" class="popupimg"> -->
        		</div>
        		<div class="col-6 boxpadding">
        			<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        			<br><br>
		            <h3 class="colorblue"><b>ENTER VERIFICATION CODE</b></h3>
		            <p>A 4 digit code is sent to</p>
		            <p><a class="acolorgrey" href=""><b>01234567892</b></a> &nbsp; <i class="fa fa-pencil" aria-hidden="true"></i></p>
		            
		            <div class="box">
		            	
						<div class="row">
							<div class="col-12">
								
									<input class="boxdetails " name="" placeholder=" ">
							
								
									<input class="boxdetails " name="" placeholder=" ">
								
									<input class="boxdetails " name="" placeholder=" ">
								
									<input class="boxdetails " name="" placeholder=" ">
								
								
							</div>
							
						</div>
		            </div>
		            
		            <div class="signinbutt">
		            	<button mat-raised-button>VERIFY</button>
		            	<p><a class="acolorred" href=""><b>I don’t get a code</b></a></p>
		            </div>
		           
		            


		          <!-- <button mat-button>Done <img src="./assets/images/circle arrow.png" class="doneimg"></button> -->
		           
        		</div>
        	</div>
         
        </div>
        
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>
  
</div>



