.modal-header{
  border: none;
}
.signoutimg{
  width: 112px;
  margin-bottom: 16px;
}
.center{
  text-align: center;
  color: #777777;
  padding: 7px 25px 0 25px;
  
}
.modal-footer{
  border: none;     
}
button:focus {
  outline:none !important;
}
.noads{
  font-family: Pacifico;
  color: #000;
}

.center::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #03A9F4;
}
.center::ng-deep.mat-radio-outer-circle{
  border-color: #ededed;
}

.center::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle, .center::ng-deep.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .center::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .center::ng-deep.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #03A9F4;
}
.center::ng-deep.mat-radio-label{
  margin-top: 6px;
}

.align-start{
  text-align: start;
}
.center::ng-deep.mat-raised-button{
  background: #1da1f2;
  color: #fff;
  width: 66%;
  border-radius: 0;
  margin: 33px 0 33px 0;
}
.doneimg{
  width: 19px;
}
.sendimg{
  width: 114px;
  margin: 0 0 25px 0;
}
.close{
  font-size: 22px;
  opacity: 1;
}
@media (min-width: 576px){
  .modal-dialog {
    max-width: 430px;
    
  }
}