



 <div class="container">
  
<!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#letstalkpopup">
    Open modal
  </button> -->

  <!-- The Modal -->
  <div class="modal fade" id="letstalkpopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body center">
            <img src="./assets/images/call.png" class="sendimg">
            <h2 class="noads"><b>Let’s Talk </b></h2>
            <p>You can call the lodger on  <b>0123456789</b></p>
            <p>or chat with him</p>
            
          <button mat-raised-button><b>LIVE CHAT</b></button>
          <!-- <button mat-raised-button>SUBMIT</button> -->
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
        
      </div>
    </div>
  </div>
  
</div>


