@font-face {
  font-family: 'Lodge-icons';
  src:  url('fonts/Lodge-icons.eot?son4li');
  src:  url('fonts/Lodge-icons.eot?son4li#iefix') format('embedded-opentype'),
  url('fonts/Lodge-icons.ttf?son4li') format('truetype'),
  url('fonts/Lodge-icons.woff?son4li') format('woff'),
  url('fonts/Lodge-icons.svg?son4li#Lodge-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Lodge-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ads:before {
  content: "\e900";
  color: #1da1f2;
}
.icon-edit-profile:before {
  content: "\e901";
  color: #1da1f2;
}

.icon-favorite:before {
  content: "\e903";
  color: #1da1f2;
}
.icon-help:before {
  content: "\e904";
  color: #1da1f2;
}

.icon-login:before {
  content: "\e906";
  color: #8d8d8d;
}
.icon-logout:before {
  content: "\e907";
  color: #ff0015;
}


.padd-en{
  padding-right: 0px;
}









.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}



.searchfeatures,.searchfeatures a{
	text-align: center;
  margin-top: 15px;
  color: #1da1f2;
  font-size: 13px;
}
.paddingquick-en{
  padding-right: 0;
  border-right: 1px solid #dedede;
}
.paddingfeatured-en{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}
.homecenterpart {
  padding: 25px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}
.moreleft-en{
	
  padding: 25px 22px 43px 6px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}


.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}






 

.homecenterpart .carousel-indicators li{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #fff;
  opacity: 1;
}


.homecenterpart .carousel-indicators .active{
  background-color: #1da1f2;
  border-color: #1da1f2;
  width: 9px;
  height: 9px;
}


.welcometolodge {
  position: absolute;
  font-family: Pacifico;
  top: 43%;
  /* left: 50%; */
  width: 100%;
  text-align: center;
  font-size: 39px;
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}
.logo-bottom-en {
  position: absolute;
  bottom: 20px;
  left: 16px;
}


.welcomebox {
  /*position: relative;
  text-align: center;*/
  color: white;
}


.imgcenterlogo{ 
  width: 22%;
  margin-top: -16px;
}

.imgbottomlogo{
  width: 75px;
}





.logorightimg{
  width: 50px;
  border-radius: 6px;
  height: 50px;
}

.placesbackrgound{
  background-color: #ededed;
  padding: 2px 4px 2px 4px;
  color: #777777;
  min-width: 80px;
  border: none;
}
.placesbackrgound-en{
  margin: 0 8px 0 0px;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}

.arrowicon{
  font-size: 24px;
  color: #e5e5e5;
  text-align: end;
}


.moretextmargin{
  margin-top: 10px;
  color: #777777;
  cursor: context-menu;
}

.hrmoregrey{
  border-top: 1.5px solid #dedede;
}


.arrowmoreicon{
	font-size: 17px;
  color: #777777;
  text-align: end;
}

.colorred{
	color: #ff0015;
}

.editproﬁle{
  padding: 56px 20px 43px 20px;
}

.hreditprofile{
  border-top: 1.5px solid #dedede;
}

.boxdetails{
  background: #fff;
  border: 1px solid #dedede;
  padding: 6px 2px 7px 2px;
  font-size: 12px;
  margin-bottom: 55px;
}

.boxdetails input{
	background: transparent;
	border: none;
	width: 80%;
}

.boxdetailsimg{
	margin: 0 8px 0 8px;
  width: 20px;
  padding: 0 0 0px 0px;
}


input:focus {
  outline:none !important;
}
.editproﬁlebox{
    margin: 25px 0 0 0;
}

.editproﬁlebox::ng-deep.mat-icon {
  font-size: 18px;
  vertical-align: -webkit-baseline-middle;
  height: 20px;
  width: 20px;
  color: #777777;
}


.textcenter{
	text-align: center;
}



.editproﬁlebox::ng-deep.mat-raised-button {
  background-color: #1da1f2;
  color: #fff;
  width: 70%;
  border-radius: 0;
}


.myads{
	padding: 56px 20px 43px 20px;
}

.myadsempty{
	text-align: center;
  color: #777777;
}

.noads{
	font-family: Pacifico;
	color: #1da1f2;
}

.myadsempty::ng-deep.mat-raised-button {
  background-color: #1da1f2;
  color: #fff;
  width: 70%;
  border-radius: 0;
	margin-top: 60px;
}

.noadsimg{
	width: 35%;
  margin: 25px 0 35px 0;
}


.success{
	color: #000;
}


.danger{
	color: #777777;
}

.myadsfull{
	margin: 25px 0 35px 0;
}


.adsbox{
	background: #fff;
  box-shadow: -2px 7px 4px 1px #67676b1a;
  border-radius: 5px;
  margin: 0px 0 35px 0;
}

.adsboxtext{
  padding: 10px 8px 10px 8px;
  font-size: 11px;
  color: #777777;
}


.adsimg{
	width: 100%;
  height: 168px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.colororange{
	color: #F97304;
}
.colorblack{
	color: #000;
}
.colorgreen{
	color: #54c242;
}
.colorred{
	color: #ff0015;
}
.price13px{
  font-size: 13px;
  text-align: end;
}

.imgsize{
  width: 15px;
  margin-bottom: 7px;
}
.textend{
	text-align: end;
}
.adsimgbox{
  position: relative;
}

.ratingt {
  position: absolute;
  top: 12px;
  left: 22px;
  background: #F97304;
  color: #fff;
  font-size: 10px;
  padding: 3px 6px 3px 6px;
  border-radius: 9px;
}


#triangle-topright {
  width: 0;
  top: 0;
  height: 0;
  right: 0px;
  position: absolute;
  border-top: 90px solid #F97304;
  border-left: 90px solid transparent;
  color: #fff;
}
.featured{
  position: absolute;
  top: 22px;
  right: 4px;
  color: #fff;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(48deg);
  font-family: Pacifico;
}  

.boost{
	position: absolute;
  bottom: 10px;
  right: 15px;
  color: #000;
  background: #fff;
  padding: 1px 6px 1px 2px;
  font-size: 10px;
}

.boostimg{
	width: 16px;
}
/* ------------------------- favorits ----------------- */

.favorites{
	padding: 56px 20px 43px 20px;
}

.favoritesfull{
	margin: 25px 0 35px 0;
}
.heart{
	position: absolute;
  bottom: -23px;
  right: 10px;
}

.heartimg{
	width: 46px;
}

.backgroundgrey{
  background: #dedede;
  padding: 4px 11px 4px 5px;
}

.backgroundgrey-en{
  margin: 0 10px 0 0;
}

.favbox{
  background: #fff;
  box-shadow: -2px 7px 4px 1px #67676b1a;
  border-radius: 5px;
  position: relative;
}
.favmargin{
  margin: 0px 0 35px 0;
}
.favmargin1{
  margin: 0px 0 0px 0;
}

.sold {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: Pacifico;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 37, 37, 0.39);
  top: 0;
  border-radius: 6px;
}



/* ------------------------- Help ----------------- */

.help{
  padding: 56px 20px 43px 20px;
}

.helpbody{
  text-align: center;
  color: #777777;
  margin-top: 50px;
}


.helpimg{
  width: 13%;
  margin: 40px 0 35px 0;
}

.helpsubject{
  background-color: #fff;
  text-align: start;
  margin: 2px 10px 0 10px;
  box-shadow: 2px 6px 4px 2px #67676b2b;
  color: #000;
}
.helpsubjectpadding{
  padding: 20px 25px 0 25px;
}
.spangrey{
  background-color: #dedede;
  color: #777777;
  padding: 1px 18px 1px 18px;
  font-size: 11px;
  border: none;
}

.spangrey-en{
  margin: 0 15px 5px 0;
}

.helpboxdetails {
  background: #fff;
  color: #777777;
  border: 1px solid #dedede;
  padding: 6px 2px 7px 2px;
  font-size: 13px;
  margin: 18px 0 18px 0px;
}
.helpboxdetails input{
  background: transparent;
  border: none;
  width: 99%;
  padding: 0 6px 0 6px;
}

.helpboxdetails textarea {
  width: 100%;
  height: 97px;
  border: none;
  overflow: hidden;
  text-align: start;
  padding: 0 6px 0 6px;
}

textarea:focus {
  outline:none !important;
}

textarea::placeholder {
  color: #777777;
}
.helpsubject::ng-deep.mat-raised-button {
  background-color: #1da1f2;
  color: #fff;
  width: 100%;
  border-radius: 0;
  margin-top: 20px;
}



/* ------------------- ads details -------------------------- */

.align-end{
  text-align: end;
}



.developerheader{
  background-color: #fff;
  box-shadow: 0px 3px 3px 2px #67676b54;
  margin: 0 -15px 0 -15px
  
}
.developerheaderwidth{
  height: 350px;
}
.developerheader .carouselimg{
  width: 100%;
  height: 100%;
}


/*.bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(/../assets/images/maxresdefault.jpg) center center no-repeat;
  background-size: cover;
}
*/
.developerheadername{
  padding: 20px 15px 25px 15px;

}
.bgorange{
  background-color: #F97304;
  border-radius: 15px;
  color: #fff;
  font-size: 11px;
  padding: 4px 7px 4px 7px;
  margin: 4px 8px 0px 8px;
  text-align: center;
 
}
.socialimg2-en{
  width: 24px;
  margin: 4px 0px 6px 14px;
}

.placesbackrgound2{
  background-color: #ededed;
  padding: 3px 6px 3px 6px;
  color: #777777;
  min-width: 80px;
  border: none;
  font-size: 11px;
}
.placesbackrgound2-en{
  margin: 0 10px 0 0px;
}


button:focus{
  outline: none !important;
}

.aboutcompany{
  padding: 50px 18px 30px 18px;
  font-size: 13px;
}
.aboutcompanyimg{
  width: 100%;
  margin: 3px 0 50px 0;
  border-radius: 4px;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}
.seeall{
  text-align: end;
  color: #1da1f2;
}
.fastimg{
  width: 14px;
}

.starsize{
  font-size: 13px;
}

.font11px{
  font-size: 11px;
}
.font12px{
  font-size: 12px;
}

.bedroomimg-en{
  width: 20px;
  margin: 0px 0px 6px 30px;
}

.mapimg{
  width: 100%;
  margin: 1px 0 18px 0;
}
.floorplanimg{
  width: 17px;
}
.floorplanimg-en{
  margin: 0 8px 0px 0px;
}

.editads::ng-deep.mat-raised-button{
  background: #1da1f2;
  color: #fff;
  border-radius: 0;
  width: 66%;
  margin: 40px 0 15px 0;
}

.fontcircle{
  font-size: 8px;
}


/* -----------------loading  button -----------------*/
@keyframes stretch {
  0% {
    transform: scale(0.5);
    background-color: #B5DDF0;
  }
  50% {
    background-color: #CFE9F6;
  }
  100% {
    transform: scale(1);
    background-color: #FFFFFF;
  }
}
.btn {
  align-items: center;
  background: #5AC3E8;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-flex;
/*  height: 36px;*/
  justify-content: center;
  min-width: 90px;
}
.btn.btn--loading {
  font-size: 0;
}
.btn.btn--loading span {
  display: flex;
}
.btn.btn--loading span b {
  animation-direction: alternate;
  animation-duration: .5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: stretch;
  animation-play-state: running;
  animation-timing-function: ease-out;
  border-radius: 100%;
  display: block;
  height: 10px;
  margin: 0 1px;
  width: 10px;
  animation-delay: .1s;
  margin: 0 5px;
  margin-top: -23px;
}
.btn.btn--loading span b:first-child {
  animation-delay: 0s;
  margin: 0;
   margin-top: -23px;
}
.btn.btn--loading span b:last-child {
  animation-delay: .2s;
  margin: 0;
   margin-top: -23px;
}
.btn b {
}
.btn span {
  display: none;
}









/* ----------------- carousel -------------------*/


.developerheaderwidth .carousel-indicators li{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #fff;
  opacity: 1;
}


.developerheaderwidth .carousel-indicators .active{
  background-color: #1da1f2;
  border-color: #1da1f2;
  width: 9px;
  height: 9px;
}
.bg-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-image: linear-gradient(to top, #fff ,transparent, transparent);
}
.carousel-indicators {
    width: 70%;
    bottom: 48px;
}
/* ----------------- carousel -------------------*/



/* ----------------- loading button -----------------*/




/*arabic css */
.padd-ar{
  padding-left: 0px;
}
.paddingquick-ar{
  padding-left: 0;
  border-left: 1px solid #dedede;
}
.paddingfeatured-ar{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.moreleft-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}

.logo-bottom-ar {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}

.backgroundgrey-ar{
  margin: 0 0px 0 10px;
}

.spangrey-ar{
  margin: 0 0px 5px 15px;
}

.placesbackrgound2-ar{
  margin: 0 0px 0 10px;
}
.bedroomimg-ar{
  width: 20px;
  margin: 0px 30px 6px 0px;
}
.socialimg2-ar{
  width: 24px;
  margin: 4px 14px 6px 0px;
}

.floorplanimg-ar{
  margin: 0px 0px 0px 8px;
}



/* ----------------- media ----------------- */

@media screen and (max-width: 1400px) {
  .favorites {
    padding: 56px 10px 43px 10px;
  }
  .myads {
    padding: 56px 10px 43px 10px;
  }
  .help{
    padding: 56px 10px 43px 10px;
  }
  .editproﬁle{
    padding: 56px 10px 43px 10px;
  }
}



@media screen and (max-width: 1300px) {
  .favorites {
    padding: 56px 0px 43px 0px;
  }
  .myads {
    padding: 56px 0px 43px 0px;
  }
  .help{
    padding: 56px 0px 43px 0px;
  }
  .editproﬁle{
    padding: 56px 0px 43px 0px;
  }

}


@media screen and (max-width: 1284px) {
  .paddingref-en{
    padding-left: 0;
  }
  .paddingref-ar{
    padding-right: 0;
  }
  .adsboxtext{
    font-size: 10px;
  }

  

}
@media screen and (max-width: 1200px) {
  #triangle-topright{
    border-top: 75px solid #F97304;
    border-left: 75px solid transparent;
  }
  .featured {
    position: absolute;
    top: 16px;
    right: 3px;
  }
  
  
}
@media screen and (max-width: 1194px) {
  /*.adsboxtext {
    font-size: 9px;
  }*/
  .paddstatus-en{
    padding-right: 0;
  }
  .paddstatus-ar{
    padding-left: 0;
  }
  .imgsize {
    width: 12px;  
  }
  
}
@media screen and (max-width: 1172px) {
  .imgsize {
    width: 10px;  
  }
  
  .heartimg {
    width: 41px;
  }
  

}


@media screen and (max-width: 1080px) {
  .paddcol{
    padding-right: 8px;
    padding-left: 8px;
  }
  .favmargin {
    margin: 0px 0 25px 0;
  }
}
@media screen and (max-width: 1070px) {
  #triangle-topright {
    border-top: 62px solid #F97304;
    border-left: 62px solid transparent;
  }
  .featured {
    position: absolute;
    top: 13px;
    right: 2px;
  }
  .boxdetails input {
    width: 76%;
  }
}

@media screen and (max-width: 1038px) {
  .font12px {
    font-size: 11px;
  }
  .bedroomimg-en {
    width: 15px;
    margin: 0px 0px 6px 25px;
  }
  .socialimg2-en {
    width: 20px;
    margin: 4px 0px 6px 12px;
  }
  .bgorange{
    font-size: 10px;
  }
  .placesbackrgound2 {
    font-size: 10px;
    padding: 3px 6px 2px 6px;
  }
  .fastimg {
    width: 12px;
  }
}
@media screen and (max-width: 1024px) {
  .adsboxtext {
    font-size: 9px;
  }
  .backgroundgrey {
    padding: 4px 7px 4px 5px;
  }
  .boostimg {
    width: 11px;
  }
  #triangle-topright {
    border-top: 62px solid #F97304;
    border-left: 62px solid transparent;
  }
  .featured {
    position: absolute;
    top: 13px;
    right: 2px;
  }
  
}


/* -----  other design ----- */
@media screen and (max-width: 975px) {

  
}