<div class="homepage" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
			<!-- ------------------------------ left part ------------------------------ -->
			<div class="col-3 paddingquick-{{'lang'|translate}}">
				<div class="moreleft-{{'lang'|translate}}">
					<h4><b>More</b></h4>
					<div class="row moretextmargin" (click)="toggle('editProfile')"   [ngClass]="editProfile ? 'success' : 'danger'">
						<div class="col-1 padd-{{'lang'|translate}}">
							<i class=" icon-edit-profile"></i>
						</div>
						<div class="col-9">
							<h6>Edit Proﬁle</h6>
						</div>
						<div class="col-2 arrowmoreicon">
		        			<i class="fa fa-angle-right " aria-hidden="true"></i>
		        		</div>
		        		<div class="col-12">
		        			<hr class="hrmoregrey">
		        		</div>

					</div>
					
					<div class="row moretextmargin" (click)="toggle('Ads')"   [ngClass]="Ads ? 'success' : 'danger'" >
						<div class="col-1 padd-{{'lang'|translate}}">
							<i class=" icon-ads"></i>
						</div>
						<div class="col-9">
							<h6>My Ads</h6>
						</div>
						<div class="col-2 arrowmoreicon">
		        			<i class="fa fa-angle-right " aria-hidden="true"></i>
		        		</div>
		        		<div class="col-12">
		        			<hr class="hrmoregrey">
		        		</div>

					</div>
					
					<div class="row moretextmargin" (click)="toggle('Fav')"   [ngClass]="Fav ? 'success' : 'danger'">
						<div class="col-1 padd-{{'lang'|translate}}">
							<i class=" icon-favorite"></i>
						</div>
						<div class="col-9">
							<h6>Favorites</h6>
						</div>
						<div class="col-2 arrowmoreicon">
		        			<i class="fa fa-angle-right " aria-hidden="true"></i>
		        		</div>
		        		<div class="col-12">
		        			<hr class="hrmoregrey">
		        		</div>

					</div>
					
					<div class="row moretextmargin" (click)="toggle('Help')"   [ngClass]="Help ? 'success' : 'danger'">
						<div class="col-1 padd-{{'lang'|translate}}">
							<i class=" icon-help"></i>
						</div>
						<div class="col-9">
							<h6>Help</h6>
						</div>
						<div class="col-2 arrowmoreicon">
		        			<i class="fa fa-angle-right " aria-hidden="true"></i>
		        		</div>
		        		<div class="col-12">
		        			<hr class="hrmoregrey">
		        			
		        		</div>

					</div>

					

					<div class="row moretextmargin" data-toggle="modal" data-target="#signoutpopup">
						<div class="col-1 padd-{{'lang'|translate}}">
							<i class=" icon-logout"></i>
						</div>
						<div class="col-9">
							<h6 class="colorred">Sign Out</h6>
						</div>
						<div class="col-2 arrowmoreicon">
		        			<i class="fa fa-angle-right " aria-hidden="true"></i>
		        		</div>

					</div>
				</div>




			</div>
			<!-- ------------------------------ center part ------------------------------ -->
			<div class="col-6 paddingfeatured-{{'lang'|translate}}">
				<!-- -------------- edit profile ---------------- -->
				<div class="editproﬁle" *ngIf="editProfile">
					<div class="row favmargin1">
						<div class="col-12">
							<h2><b>Edit Proﬁle</b></h2>
							<hr class="hreditprofile">
						</div>
					</div>
					
					<div class="editproﬁlebox">
						<div class="row favmargin1">
							<div class="col-4">
								<h4><b>Name</b></h4>
							</div>
							<div class="col-8">
								<div class="boxdetails">
									<img src="./assets/images/name blue.png" class="boxdetailsimg">
									<input  name="" placeholder=" Full Name">
								</div>
							</div>
							
						</div>
						<div class="row favmargin1">
							<div class="col-4">
								<h4><b>Email Address</b></h4>
							</div>
							<div class="col-8">
								<div class="boxdetails">
									<img src="./assets/images/email blue.png" class="boxdetailsimg">
									<input  name="" placeholder=" Email Address">
								</div>
							</div>
							
						</div>
						<div class="row favmargin1">
							<div class="col-4">
								<h4><b>Password</b></h4>
							</div>
							<div class="col-8">
								<div class="boxdetails">
									<img src="./assets/images/password blue.png" class="boxdetailsimg">
									
									<input matInput placeholder=" Password" [type]="hide ? 'password' : 'text'">
    								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</div>
							</div>
							
						</div>
						<div class="row favmargin1">
							<div class="col-4">
								<h4><b>Phone Number</b></h4>
							</div>
							<div class="col-8">
								<div class="boxdetails">
									<img src="./assets/images/password blue.png" class="boxdetailsimg">
									<!-- <input  name="" placeholder=" Password"> -->
									<input matInput placeholder=" Password" [type]="hide ? 'password' : 'text'">
    								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</div>
							</div>
							
						</div>

						<div class="row favmargin1 textcenter">
							<div class="col-12">
								<button class="btn" mat-raised-button><b>SAVE</b> <span><b></b><b></b><b></b></span></button>
							</div>
							
						</div>
					</div>

					
				</div>
				<!-- ------------ads part---------- -->
				<div class="myads" *ngIf="Ads">
					<div class="row favmargin1">
						<div class="col-12">
							<h2><b>My Ads</b></h2>
							<hr class="hreditprofile">
						</div>
					</div>
					<!-- empty ads  -->

					<!-- <div class="myadsempty">
						<img src="./assets/images/announcement.png" class="noadsimg">
					    <h3 class="noads"><b>No Posted Ads!</b></h3>
					    <h6><b>Seems like you don't</b></h6>
					    <h6><b>post any ads.</b></h6>

					    <div class="row ">
							<div class="col-12">
								<button mat-raised-button>LODGE YOUR PROPERTY</button>
							</div>
							
						</div>
					</div> -->
					<div class="myadsfull">
						<div class="row favmargin">
							<div class="col-md-6 paddcol">
								<div class="adsbox" (click)="toggle('AdsDetail')">
									<div class="adsimgbox " >


										<img src="./assets/images/about2.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="boost"><img src="./assets/images/fast reply.png" class="boostimg">&nbsp;  <span><b>Boost Now</b></span></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-8">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-4 paddingref-{{'lang'|translate}} textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-5 paddstatus-{{'lang'|translate}}">
												<span class="colororange"><i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; Under Review</span> 
											</div>
											<div class="col-7 textend">
												<span>From: 10 May  &nbsp; To: 8 Aug</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 paddcol">
								<div class="adsbox"(click)="toggle('AdsDetail')">
									<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-8">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-4 paddingref-{{'lang'|translate}} textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-5 paddstatus-{{'lang'|translate}}">
												<span class="colorgreen"><i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; Live</span> 
											</div>
											<div class="col-7 textend">
												<span>From: 10 May  &nbsp; To: 8 Aug</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row favmargin">
							<div class="col-md-6 paddcol">
								<div class="adsbox" (click)="toggle('AdsDetail')">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-8">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-4 textend paddingref-{{'lang'|translate}}">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-5 paddstatus-{{'lang'|translate}}">
												<span class="colorred"><i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; Need Changes</span> 
											</div>
											<div class="col-7 textend">
												<span>From: 10 May  &nbsp; To: 8 Aug</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 paddcol" >
								<div class="adsbox" (click)="toggle('AdsDetail')">
									<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-8">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-4 paddingref-{{'lang'|translate}} textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-5 paddstatus-{{'lang'|translate}}">
												<span class="colorgreen"><i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; Live</span> 
											</div>
											<div class="col-7 textend">
												<span>From: 10 May  &nbsp; To: 8 Aug</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- -------------- my ad detail ---------------- -->
				<div class="myadsdetail" *ngIf="AdsDetail">
					<div class="developerheader">
						<div class="developerheaderwidth">
							<div id="myCarousel" class="carousel slide" data-ride="carousel">
						    <!-- Indicators -->
						    <ol class="carousel-indicators">
						      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						      <li data-target="#myCarousel" data-slide-to="1"></li>
						      <li data-target="#myCarousel" data-slide-to="2"></li>
						    </ol>

						    <!-- Wrapper for slides -->
						    <div class="carousel-inner">
						      <div class="item active welcomebox">
						        
								<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%; height: 350px;">
								
								
						      </div>

						      <div class="item welcomebox">
						        
								<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%;height: 350px;">
								
								
						      </div>
						    
						      <div class="item welcomebox">
						        
								<img src="./assets/images/Lead-Image-IKEA-770x470.jpg"  style="width:100%;height: 350px;">
								
								
						      </div>
						    </div>
						    <div class="bg-img">
								
							</div>
						</div>
					       
						</div>
						<div class="developerheadername">
							<div class="row">
								<div class="col-6">
									<p class="font11px colorgrey">1 Day ago</p>
								</div>
								<div class="col-6 align-end">
									<p class="font11px"><img src="./assets/images/fast reply.png" class="fastimg"> <b>Boost Now</b></p>
								</div>
							</div> 

							<div class="row">
								<div class="col-6">
					       			<h3><b>Villa at New Cairo</b></h3>
								</div>
								<!-- <div class="col-3 align-end">
										
								</div> -->
								<div class="col-6 align-end">
									<p><span class="bgorange"> 4.3 <i class="fa fa-star" aria-hidden="true"></i> </span>
									<img src="./assets/images/blue heart border.png" class="socialimg2-{{'lang'|translate}}">
									<img src="./assets/images/share.png" class="socialimg2-{{'lang'|translate}}"></p>
									
								</div>
								
							</div>
							<div class="row">
								<div class="col-12">
									<h4 class="colororange"><b>EGP 7,000,000</b></h4>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<p class="font11px colorgrey">Villa  |  REF: JG9756</p>
								</div>
							</div>
							<div class="row">
								<div class="col-3">
									<p class="font11px colorgrey"><i class="fa fa-eye" aria-hidden="true"></i> 315 Views</p>
								</div>
								<div class="col-9 align-end">
									<p class="font12px"><b><img src="./assets/images/size.png" class="bedroomimg-{{'lang'|translate}}">&nbsp; 200 sqm  <img src="./assets/images/bed.png" class="bedroomimg-{{'lang'|translate}}">&nbsp; 3 Bedrooms  <img src="./assets/images/bathroom.png" class="bedroomimg-{{'lang'|translate}}">&nbsp; 2 Bathrooms </b></p>
								</div>
							</div>
							<p><button class="placesbackrgound2 placesbackrgound2-{{'lang'|translate}}"><img src="./assets/images/fast reply.png" class="fastimg"> Fast Reply </button> <button class="placesbackrgound2 placesbackrgound2-{{'lang'|translate}}"><i class="fa fa-star colororange starsize" aria-hidden="true"></i> Excellent Service</button> <button class="placesbackrgound2 placesbackrgound2-{{'lang'|translate}}"><i class="fa fa-bookmark colororange starsize" aria-hidden="true"> </i>  Accurate Info</button></p>
					    </div>
					</div>
					<div class="aboutcompany">
						<div class="row">
							<div class="col-12">
								<h3><b>You’ll love it because</b></h3>
							</div>
							
						</div>
						<div class="row">
							<div class="col-4">
								<p><img src="./assets/images/floor.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"><b>Floor (0)</b></p>
							</div>
							<div class="col-4 textcenter">
								<p><img src="./assets/images/chair.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"><b>Furnished</b></p>

							</div>
							<div class="col-4 align-end">
								<p><img src="./assets/images/garden.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"><b>Private Garden</b></p>
							</div>
						</div>
						<hr class="hrgrey">

						<div class="row">
							<div class="col-12">
								<h3><b>Location</b></h3>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<p><b>Mivida, New Cairo, Cairo</b></p>
							</div>
						</div>
						<br>
						<a href="https://www.google.com.eg/maps?hl=en&tab=wl0"><img src="./assets/images/map.jpg" class="mapimg"></a>

						<hr class="hrgrey">
						<div class="row">
							<div class="col-12">
								<h3><b>Floor Plan</b></h3>
								<p><img src="./assets/images/floorplan.png" class="floorplanimg floorplanimg-{{'lang'|translate}}"> View Floor Plan</p>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-12">
								<h3><b>Description</b></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
							</div>
						</div>
						<div class="row textcenter editads">
							<div class="col-12">
								<button routerLink="/edit" mat-raised-button><b>EDIT</b></button>
							</div>
						</div>
						<div class="row textcenter">
							<div class="col-12">
								<a class="colorred" href=""data-toggle="modal" data-target="#deactivatepopup"><b>DEACTIVATE</b> </a>
							</div>
						</div>

					</div>

				</div>

				<!-- -------------- Favorites ---------------- -->
				<div class="favorites" *ngIf="Fav">
					<div class="row favmargin1">
						<div class="col-12">
							<h2><b>Favorites</b></h2>
							<hr class="hreditprofile">
						</div>
					</div>
					<!-- empty favorites  -->

					<!-- <div class="myadsempty">
						<img src="./assets/images/empty fav.png" class="noadsimg">
					    <h3 class="noads"><b>No Favorites! </b></h3>
					    <h6><b>Seems like you don't</b></h6>
					    <h6><b>have wishes here.</b></h6>

					    <div class="row ">
							<div class="col-12">
								<button mat-raised-button>EXPLORE LODGES</button>
							</div>
							
						</div>
					</div> -->

					<div class="favoritesfull">
						<div class="row  favmargin">
							<div class="col-md-6 paddcol">
								<div class="favbox">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div (click)="showheart()" class="heart"><img  [src] ="heart ? './assets/images/heart active.png' : './assets/images/heart inactive.png'" class="heartimg"></div>
										
									</div> 
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-8">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-4 paddingref-{{'lang'|translate}} textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-12">
												<p>
													<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><img src="./assets/images/fast reply.png" class="boostimg"> &nbsp; Fast Reply</span> 
												<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-star colororange" aria-hidden="true"></i> &nbsp; Excellent Service</span>  

												</p>
												<p><span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-bookmark colororange" aria-hidden="true"></i> &nbsp; Accurate Info</span> </p>
											</div>
											
										</div>
									</div>
									<!-- <div class="overlay">
										<h2 class="sold">Sold</h2>
									</div> -->
								</div>
							</div>
							<div class="col-md-6 paddcol">
								<div class="favbox ">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="heart"><img src="./assets/images/heart active.png" class="heartimg"></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-8">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-4 paddingref-{{'lang'|translate}} textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-12">
												<p>
													<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><img src="./assets/images/fast reply.png" class="boostimg"> &nbsp; Fast Reply</span> 
												<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-star colororange" aria-hidden="true"></i> &nbsp; Excellent Service</span>  

												</p>
												
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
						</div>



						<div class="row  favmargin">
							<div class="col-md-6 paddcol">
								<div class="favbox">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<div id="triangle-topright"> </div>
										<div class="featured">Featured</div>
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="heart"><img src="./assets/images/heart inactive.png" class="heartimg"></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-8">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-4  textend paddingref-{{'lang'|translate}}">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-12">
												<p>
													<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><img src="./assets/images/fast reply.png" class="boostimg"> &nbsp; Fast Reply</span> 
												<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-star colororange" aria-hidden="true"></i> &nbsp; Excellent Service</span>  

												</p>
												<p><span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-bookmark colororange" aria-hidden="true"></i> &nbsp; Accurate Info</span> </p>
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
							<div class="col-md-6 paddcol">
								<div class="favbox ">
									<div class="adsimgbox " >


										<img src="./assets/images/Stores-Like-Ikea-FI-1920x1024.jpg" class="adsimg">
										<!-- <div id="triangle-topright"> </div> -->
										<!-- <div class="featured">Featured</div> -->
										<div class="ratingt">4.3 &nbsp; <i class="fa fa-star" aria-hidden="true"></i></div>
										<div class="heart"><img src="./assets/images/heart inactive.png" class="heartimg"></div>
										
									</div>
									
									<div class="adsboxtext">
										<p>1 Day ago</p>
										<div class="row">
											<div class="col-6">
												<h5 class="colorblack"><b>Villa at New Cairo</b></h5>
											</div>
											<div class="col-6">
												<p class="colororange price13px"><b>EGP 7,000,000</b></p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-1">
												 
											</div>
										</div>
										<div class="row">
											<!-- <div class="col-1">
												
											</div> -->
											<div class="col-12">
												<span class="colorgrey"><img src="./assets/images/location.png" class="imgsize">&nbsp;  Mivida, New Cairo,Cairo</span> 
											</div>
											
										</div>
										<div class="row">
											<!-- <div class="col-1">
												<img src="./assets/images/size.png" class="imgsize">
											</div> -->
											<div class="col-8">
												<span class="colorgrey"><img src="./assets/images/size.png" class="imgsize">&nbsp;  700 m2 &nbsp; <i class="fa fa-circle fontcircle" aria-hidden="true"></i> &nbsp; 5 Bedrooms </span> 
											</div>
											<div class="col-4 paddingref-{{'lang'|translate}} textend">
												<p class="colorlightblue">REF: JG9756</p>
											</div>
											
										</div>
										<div class="row">
											<div class="col-12">
												<p>
													<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><img src="./assets/images/fast reply.png" class="boostimg"> &nbsp; Fast Reply</span> 
												<span class="backgroundgrey backgroundgrey-{{'lang'|translate}}"><i class="fa fa-star colororange" aria-hidden="true"></i> &nbsp; Excellent Service</span>  

												</p>
												
											</div>
											
										</div>
									</div>
									<div class="overlay">
										<h2 class="sold">Sold</h2>
									</div>
								</div>
							</div>
						</div>
					</div>




				</div>
				<!-- -------------- Help ---------------- -->
				<div class="help" *ngIf="Help">
					<div class="row favmargin1"> 
						 <div class="col-12">
						 	<h2><b>Help</b></h2>
							<hr class="hreditprofile">
						 </div>
					</div>
					

					<div class="helpbody">
						
					    <h2 class="colorblack"><b>Write Feedback </b></h2>
					    <h6><b>We welcome your feedback to improve our services.</b></h6>
					    <img src="./assets/images/feedback.png" class="helpimg">

					    <div class="helpsubject">
					    	<div class="helpsubjectpadding">
								<h5><b>SUBJECT</b></h5>
								<br>
								<p><button class="spangrey spangrey-{{'lang'|translate}}">Ads</button> <button class="spangrey spangrey-{{'lang'|translate}}">Payment</button> <button class="spangrey spangrey-{{'lang'|translate}}">Installment</button> <button class="spangrey spangrey-{{'lang'|translate}}">Chat</button> <button class="spangrey spangrey-{{'lang'|translate}}">Contact agent</button> <button class="spangrey spangrey-{{'lang'|translate}}">Other</button></p>
								<br>
								

								<h5><b>AD REFERENCE NO.</b></h5>
								<div class="helpboxdetails">
									
									<input  name="" placeholder="Ad Reference No.">
								</div> 
								<h5><b>YOUR FEEDBACK</b></h5>
								<div class="helpboxdetails">
									
									<textarea  placeholder="Write Somthing..."></textarea>
								</div>
								
								
							</div>
							<button mat-raised-button><b>SUBMIT</b></button>


						</div>
						
						 

					</div> 


					



				</div>
				


			</div>
			<!-- ------------------------------ right part ------------------------------ -->
			<div class="col-3 paddingdiscover-{{'lang'|translate}}">
				<app-ourpartners></app-ourpartners>
				
			</div>
		</div> 
	</div>
</div>




<app-navbar></app-navbar>
<app-footer></app-footer>

<app-popupsignout></app-popupsignout>
<app-popupdeactivatepost></app-popupdeactivatepost>