.align-end{
  text-align: end;
}
.welcometolodge {
  position: absolute;
  font-family: Pacifico;
  top: 43%;
  /* left: 50%; */
  width: 100%;
  text-align: center;
  font-size: 39px;
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
}


.welcomebox {
  /*text-align: center;*/
  color: white;
  position: relative;
}
.bg-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42%;
  background-image: linear-gradient(to top, #fff ,transparent, transparent);
}


.imgcenterlogo{ 
  width: 30%;
  margin-top: -16px;
}
.developerheader{
  background-color: #fff;
  box-shadow: 0px 3px 3px 2px #67676b54;
  
}
.developerheaderwidth{
  height: 350px;
}
.welcomebox .carouselimg{
  width: 100%;
  height: 350px;
}



.developerheadername{
  padding: 20px 15px 25px 15px;

}
.bgorange{
  background-color: #F97304;
  border-radius: 12px;
  color: #fff;
  font-size: 9px;
  padding: 5px 8px 5px 8px;
  margin: 5px 8px 0px 8px;
  text-align: center;
  position: absolute;
}
.socialimg2{
  width: 37px;
  margin: 0 3px 6px 3px;
}

.placesbackrgound{
  background-color: #ededed;
  padding: 2px 4px 2px 4px;
  color: #777777;
  min-width: 80px;
  border: none;
  font-size: 11px;
}
.placesbackrgound-en{
  margin: 0 8px 0 0px;
}


button:focus{
  outline: none !important;
}

.aboutcompany{
  padding: 50px 30px 30px 30px;
}
.aboutcompanyimg{
  width: 100%;
  margin: 3px 0 50px 0;
  border-radius: 4px;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}



/*slick  slide */
.slick-slider {
  width: 104.4%;
  margin: auto;
  margin-bottom: 45px;

  
}
 
.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}
 
.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}
 
.prev-slide {
  background: url('/assets/images/ikealogo.jpg') no-repeat scroll 0 0;
  left: -33px;
}
 
.next-slide {
  background: url('/assets/images/ikealogo.jpg') no-repeat scroll -24px 0px;
  right: -33px;
}
 
.prev-slide:hover {
  background-position: 0px -53px;
}
 
.next-slide:hover {
  background-position: -24px -53px;
}

.marginslider{
  margin: 0 8px 20px 0;
  background: #fff;
  box-shadow: -2px 7px 4px 1px #67676b1a;
  border-radius: 5px;
}

.imgfeltured{
  height: 140px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.slick-initialized .slick-slide{
  padding-right: 20px;
}
.slickdescription{
  padding: 8px 8px 8px 8px;
}

.slick-initialized .slick-slide:focus{
  outline: none !important;
}

.sizeinch{
  width: 20px;
}
.fontcircle{
  font-size: 8px;
}

.hearttopright {
  position: absolute;
  top: 8px;
  right: 16px;
}

.pricebottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background: #fff;
  border-radius: 9px;
  padding: 0 8px;
  font-size: 9px;
}
.pricesize{
    font-size: 14px;
}

.imgfelturedbox{
  position: relative;
}
.heartwidth{
  width: 22px;
}
.seeall{
  text-align: end;
  color: #1da1f2;
}
.hearticon{
  border: none;
  background: transparent;
}
/*slick slide*/
.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}






/*arabic css */
.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}






/* ----------------- media ----------------- */
@media screen and (max-width: 1400px) {
  .slick-slider {
    width: 104.9%;
  }
}
@media screen and (max-width: 1300px) {
  .slick-slider {
    width: 105.3%;
  }
}
@media screen and (max-width: 1250px) {
  .imgcenterlogo {
    width: 29%;
  }
}
@media screen and (max-width: 1200px) {
  .socialimg2 {
    width: 33px;
    margin: 0 3px 6px 3px;
  }
  .bgorange {
    padding: 4px 8px 4px 8px;
  }
  .placesbackrgound {
    padding: 3px 4px 1px 4px;
    min-width: 77px;
    font-size: 10px;
  }
  .slick-slider {
    width: 103.7%;
  }
  .aboutcompany {
    padding: 50px 20px 30px 20px;
  }
  .slickdescription {
    padding: 8px 6px 8px 6px;
    font-size: 11px;
  }
  .sizeinch {
    width: 17px;
  }
  .pricebottomright {
    font-size: 8px;
  }
  .pricesize {
    font-size: 12px;
  }
}

@media screen and (max-width: 1070px) {
  .slick-initialized .slick-slide{
    padding-right: 12px;
  }
  .slick-slider {
    width: 104.2%;
  }

}

@media screen and (max-width: 1235px) {
  
}


@media screen and (max-width: 1170px) {
  

}


@media screen and (max-width: 1024px) {
 
}

/* -----  other design ----- */
@media screen and (max-width: 975px) {

  
}