.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}



.paddingquick-en{
  /*padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.paddingfeatured-en{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}


.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}





.hrgrey{
  border-top: 1.2px solid #ededed;
}






.hrpraivcy{
  border-top: 1.5px solid #dedede;
}


.privacycenterpart {
  padding: 50px 20px 43px 20px;
  font-size: 13px;
}





















/*arabic css */

.paddingquick-ar{
  /*padding-left: 0;*/
  border-left: 1px solid #dedede;
}
.paddingfeatured-ar{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}



.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}


