<!-- <box class="shine"></box>

<div>
<lines class="shine"></lines>
<lines class="shine"></lines>
<lines class="shine"></lines>
</div> -->




<div style="background-color: blue">
	<p class="photo"> <b class="shine"></b></p>
<!-- <photo class="shine"></photo> -->

<br>

<!-- <box class="shine"></box> -->

<div>
<p class="lines"><b class="shine"></b></p>
<!-- <p class="shine"></p>
<p class="shine"></p> -->
</div>
</div>





<!-- <div class="card-container">
  <div class="card">
    <div class="shimmerBG media"></div>
    <div class="p-32">
      <div class="shimmerBG title-line"></div>
      <div class="shimmerBG title-line end"></div>

      <div class="shimmerBG content-line m-t-24"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line"></div>
      <div class="shimmerBG content-line end"></div>
    </div>
  </div>
  

</div> -->