 <div class="container">
  
<!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signuppopup">
    Open modal
  </button> -->

  <!-- The Modal -->
  <div class="modal fade" id="signuppopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <!-- <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div> -->
        
        <!-- Modal body -->
        <div class="modal-body ">
        	<div class="row">
        		<div class="col-6 paggingimg">
        			<!-- <img src="./assets/images/popup.jpg" class="popupimg"> -->
        		</div>
        		<div class="col-6 boxpadding">
        			<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        			<br><br>
		            <h3 class="colorblue"><b>SIGN UP</b></h3>
		            <p>By Creating an account, you agree to Lodge's</p>
		            <p><a class="acolorgrey" routerLink="/privacy"><b>Privacy Policy</b> </a>  and  <a class="acolorgrey" routerLink="/terms"><b>Terms of Use</b></a></p>
		            
		            <div class="box">
		            	<div class="row">
						
							<div class="col-12">
								<div class="boxdetails">
									<img src="./assets/images/name blue.png" class="boxdetailsimg">
									<input  name="" placeholder=" Name">
								</div>
							</div>
							
						</div>
		            	<div class="row">
							<div class="col-12">
								<div class="boxdetails">
									<img src="./assets/images/email blue.png" class="boxdetailsimg">
									<input  name="" placeholder=" Email Address">
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-12">
								<div class="boxdetails boxdetailspadding">
									<img src="./assets/images/password blue.png" class="boxdetailsimg">
									
									<input matInput placeholder=" Password" [type]="hide ? 'password' : 'text'">
    								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</div>
								
								
							</div>
							
						</div>
		            </div>
		            
		            <div class="signinbutt">
		            	<button mat-raised-button>SIGN IN</button>
		            </div>
		            <div class="orline">
		            	<p class="background"><span>or</span></p>
		            </div>
		            <div class="facebookbutt">
		            	<button mat-raised-button><img src="./assets/images/facebook.png" class="doneimg">&nbsp;  CONTINUE WITH FACEBOOK</button>
		            </div>
		            <div >
		            	<p class="signupgrey">Already have an account?  <a class="signupgrey" data-toggle="modal" data-target="#sgininpopup"><b> SIGN IN</b></a> </p>
		            </div>

		           
        		</div>
        	</div>
         
        </div>

        
      </div>
    </div>
  </div>
  
</div>

<app-popupsignin></app-popupsignin>

