/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");
body{
	margin: 0;
    height: 100%;
    font-size: 14px;
    padding-right: 0 !important;

}
html {
  overflow-y: scroll !important;
}

@font-face {
    font-family: Proxima Nova Bl;
    src: url('../src/assets/font/ProximaNova-Black.otf') format("opentype");
}
@font-face {
    font-family: Proxima Nova Rg;
    src: url('../src/assets/font/ProximaNova-Bold.otf') format("opentype");
}
@font-face {
    font-family: Proxima Nova Cn Lt;
    src: url('../src/assets/font/ProximaNovaCond-Light.otf') format("opentype");
}

@font-face {
    font-family: Proxima Nova Cn Rg;
    src: url('../src/assets/font/ProximaNova-Regular.otf') format("opentype");
}
@font-face {
    font-family: Proxima Nova Th;
    src: url('../src/assets/font/ProximaNova-Extrabold.otf') format("opentype");
}
@font-face {
    font-family: Pacifico;
    src: url('../src/assets/PACIFICO.TTF') format("opentype");
}
@font-face {
    font-family: "JF Flat Light";
    src: url('../src/assets/font/JF-Flat-light.eot');
    src: url('../src/assets/font/JF-Flat-light.eot?#iefix') format('embedded-opentype'),
    url('../src/assets/font/JF-Flat-light.svg#JF Flat Light') format('svg'),
    url('../src/assets/font/JF-Flat-light.woff') format('woff'),
    url('../src/assets/font/JF-Flat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: "JF Flat Regular";
    src: url('../src/assets/font/JF-Flat-regular.eot');
    src: url('../src/assets/font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../src/assets/font/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../src/assets/font/JF-Flat-regular.woff') format('woff'),
    url('../src/assets/font/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JF Flat Medium";
    src: url('../src/assets/font/JF-Flat-medium.eot');
    src: url('../src/assets/font/JF-Flat-medium.eot?#iefix') format('embedded-opentype'),
    url('../src/assets/font/JF-Flat-medium.svg#JF Flat Medium') format('svg'),
    url('../src/assets/font/JF-Flat-medium.woff') format('woff'),
    url('../src/assets/font/JF-Flat-medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


.font-en h1,.font-en h2 ,.font-en h3 ,.font-en h4 ,.font-en h5 ,.font-en h6{
    font-family: Proxima Nova Th;
}
.font-en p{
    font-family: Proxima Nova Cn Rg;
}

.font-ar{
    text-align:  -webkit-auto;
}


.font-ar h1,.font-ar h2 , .font-ar h3 ,.font-ar h4 ,.font-ar h5 ,.font-ar h6{
    font-family: JF Flat Medium;
}
.font-ar p{
    font-family: JF Flat Regular;
}

h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;  
}
h4{
   font-size: 20px; 
}
h5{
    font-size: 16px; 
}
h6{
    font-size: 14px;
}
button:focus , input:focus{
  outline: none !important;
}

:focus{
  outline: none !important;
}
:active{
  outline: none !important;
}

.carousel-indicators{
    width: 70%;
}
.font-en .mat-radio-button{
    font-family: Proxima Nova Cn Rg;
}
.font-en .mat-checkbox{
   font-family: Proxima Nova Cn Rg;  
}


.font-ar .mat-radio-button{
    font-family: JF Flat Regular;
}
.font-ar .mat-checkbox{
   font-family: JF Flat Regular; 
}

@media screen and (max-width: 1200px) {
    body{
        font-size: 12px;
    }
    h1{
        font-size: 33px;
    }
    h2{
        font-size: 27px;
    }
    h3{
        font-size: 22px;  
    }
    h4{
       font-size: 19px; 
    }
    h5{
        font-size: 14px; 
    }
    h6{
        font-size: 13px;
    }

}
@media screen and (max-width: 1070px) {
    body{
        font-size: 10px;
    }
    h1{
        font-size: 31px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;  
    }
    h4{
       font-size: 17px; 
    }
    h5{
        font-size: 13px; 
    }
    h6{
        font-size: 11px;
    }

}