.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}

.paddingquick-en{
/*  padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.paddingfeatured-en{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}
.homecenterpart {
  padding: 25px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}


.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}




.myadsfull{
  margin: 25px 0 35px 0;
}


.adsbox{
  background: #fff;
  box-shadow: -2px 7px 4px 1px #67676b1a;
  border-radius: 5px;
  margin: 0px 0 35px 0;
}

.adsboxtext{
  padding: 10px 8px 10px 8px;
  font-size: 11px;
  color: #777777;
}


.adsimg{
  width: 100%;
  height: 168px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.colororange{
  color: #F97304;
}
.colorblack{
  color: #000;
}
.colorgreen{
  color: #54c242;
}
.colorred{
  color: #ff0015;
}
.price13px{
  font-size: 13px;
  text-align: end;
}

.imgsize{
  width: 15px;
  margin-bottom: 7px;
}
.textend{
  text-align: end;
}
.adsimgbox{
 position: relative;
}

.ratingt {
  position: absolute;
  top: 12px;
  left: 22px;
  background: #F97304;
  color: #fff;
  font-size: 10px;
  padding: 3px 6px 3px 6px;
  border-radius: 9px;
}


#triangle-topright {
  width: 0;
  top: 0;
  height: 0;
  right: 0px;
  position: absolute;
  border-top: 90px solid #F97304;
  border-left: 90px solid transparent;
  color: #fff;
}
.featured{
  position: absolute;
  top: 22px;
  right: 4px;
  color: #fff;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(48deg);
  font-family: Pacifico;
}  

.boost{
  position: absolute;
  bottom: 183px;
  right: 22px;
  color: #000;
  background: #fff;
  padding: 1px 6px 1px 2px;
  font-size: 10px;
}

.boostimg{
  width: 16px;
}

/* ------------------------- favorits ----------------- */

.favorites{
  padding: 56px 20px 43px 20px;
}

.favoritesfull{
  margin: 25px 0 35px 0;
}
.heart{
  position: absolute;
  bottom: -23px;
  right: 10px;
}

.heartimg{
  width: 46px;
}

.backgroundgrey{
  background: #dedede;
  padding: 4px 11px 4px 5px;
}

.backgroundgrey-en{
  margin: 0 10px 0 0;
}

.favbox{
  background: #fff;
  box-shadow: -2px 7px 4px 1px #67676b1a;
  border-radius: 5px;
  position: relative;
}
.favmargin{
  margin: 0px 0 35px 0;
}

.sold {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: Pacifico;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 37, 37, 0.39);
  top: 0;
  border-radius: 6px;
}

.fontcircle{
  font-size: 8px;
}

.paddingroom-en{
  padding-right: 0px;
}




/* ----------------- shimmer ----------------*/
.card-container {
  position: relative;
}
.card-container .card {
  border: none;
}
/*.card-container .card:nth-child(2) {
  top: 160px;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.card-container .card:nth-child(1) {
  top: 180px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}*/
.card-container .card .shimmerBG {
  
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
          animation-name: shimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #dde9eb;
  background: linear-gradient(to right, #dde9eb 4%, #bbc6c7 35%, #dde9eb 36%);
  background-size: 1200px 100%;
  
}
@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
.card-container .media {
  height: 283px;
  border-radius: 5px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.card-container .p-32 {
  /*padding: 32px;*/
}
.card-container .title-line {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  height: 168px;
  width: 100%;
  margin: 0px 0 10px 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.card-container .content-line {
  -webkit-animation-duration: 3s;
    animation-duration: 3s;
  height: 15px;
  width: 78%;
  margin: 5px 0px 5px 0;
  border-radius: 0px;
}
.card-container .end {
  width: 30%;
}

.m-t-24 {
  margin-top: 24px;
}




/* ----------------- shimmer ----------------*/















/*arabic css */

.paddingquick-ar{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}
.paddingfeatured-ar{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}
.quicksearch-ar{
  
  padding: 25px 6px 43px 22px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}


.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}

.paddingroom-ar{
  padding-left: 0px;
}

/* ----------------- media ----------------- */

@media screen and (max-width: 1400px) {
  .favorites {
    padding: 56px 0px 43px 0px;
  }
 
}



@media screen and (max-width: 1300px) {
  
  .adsboxtext{
    font-size: 10px;
  }

}


@media screen and (max-width: 1284px) {
  
  

  

}
@media screen and (max-width: 1200px) {
  #triangle-topright{
    border-top: 75px solid #F97304;
    border-left: 75px solid transparent;
  }
  .featured {
    position: absolute;
    top: 16px;
    right: 3px;
  }
  
  
}
@media screen and (max-width: 1194px) {
 
  .imgsize {
    width: 12px;  
  }
  
}
@media screen and (max-width: 1172px) {
  .imgsize {
    width: 10px;  
  }
  
  .heartimg {
    width: 41px;
  }
  

}


@media screen and (max-width: 1100px) {
  .favmargin {
    margin: 0px 0 25px 0;
  }
  .paddcol{
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media screen and (max-width: 1070px) {
  #triangle-topright {
    border-top: 62px solid #F97304;
    border-left: 62px solid transparent;
  }
  .featured {
    position: absolute;
    top: 13px;
    right: 2px;
  }
  .fontcircle {
    font-size: 5px;
  }
}


@media screen and (max-width: 1024px) {
  .adsboxtext {
    font-size: 9px;
  }
  .backgroundgrey {
    padding: 4px 7px 4px 5px;
  }
  .boostimg {
    width: 11px;
  }
  #triangle-topright {
    border-top: 62px solid #F97304;
    border-left: 62px solid transparent;
  }
  .featured {
    position: absolute;
    top: 13px;
    right: 2px;
  }
  
}


/* -----  other design ----- */
@media screen and (max-width: 975px) {

  
}