<div class="homepage" dir="{{'dir'|translate}}">
	<div class="container-fluid">
		<div class="row">
			<!-- ------------------------------ left part ------------------------------ -->
			<div class="col-3 paddingquick-{{'lang'|translate}}">
				<app-quicksearch></app-quicksearch>



			</div>
			<!-- ------------------------------ center part ------------------------------ -->
			<div class="col-6 paddingfeatured-{{'lang'|translate}}">
				<app-developercenter></app-developercenter>
			</div>
			<!-- ------------------------------ right part ------------------------------ -->
			<div class="col-3 paddingdiscover-{{'lang'|translate}}">
				<app-ourpartners></app-ourpartners>
				
			</div>
		</div> 
	</div>
</div>


<app-navbar></app-navbar>
<app-footer></app-footer>
