.homepage{
	margin: 80px 0 0 0 ;
	z-index: 2;
}
.quicksearch{
	
  padding: 25px 14px 43px 14px;
  /*box-shadow: 2px 0px 4px 0px #67676b2e;*/
}

.placesimg{	
  width: 100%;
  border-radius: 7px;
  height: 86px;
  
}
.divimg{
  margin-bottom: 22px;
  position: relative;
}
.overlayimg{
  background-color: #00000061;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 7px;
  height: 86px;
}
/*.placesimg:hover,.placesimg:active{	
    border: 3px solid #1da1f2;
}*/
.imgbox:hover>.divimg .overlayimg ,.imgbox:hover>.morebox {
  border: 3px solid #1da1f2;
  border-radius: 8px;

}


.centeredtitle {
  position: absolute;
  font-family: Pacifico;
  top: 43%;
  left: 50%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  cursor: context-menu;
  
}
.imgbox {
  position: relative;
  text-align: center;
  color: white;
}

.morebox{	
  width: 100%;
  border-radius: 7px;
  height: 86px;
  margin-bottom: 22px;
  background-color: #6ecdf5; 
	background-image: linear-gradient(to bottom, #6ecdf5 , #0084bd);
}
/*.morebox:hover,.morebox:active{	
    border: 3px solid #1da1f2;
}*/

.types{

}
.units{
	margin-bottom: 42px;
}
.types::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
	border-color: #03A9F4;
}
.types::ng-deep.mat-radio-outer-circle{
	border-color: #ededed;
}

.types::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle, .types::ng-deep.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .types::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .types::ng-deep.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #03A9F4;
}
.types::ng-deep.mat-radio-label{
  margin-top: 6px;
}

.units::ng-deep.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element{
 	background-color: #03A9F4;
}
.units::ng-deep.mat-checkbox-frame{
	border-color: #ededed;
}

.units::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background, .units::ng-deep.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #03A9F4;
}


.quicksearch::ng-deep.mat-raised-button{
	background: #1da1f2;
  color: #fff;
  width: 100%;
  border-radius: 0;
}
.searchfeatures,.searchfeatures a{
	text-align: center;
  margin-top: 15px;
  color: #1da1f2;
  font-size: 13px;
}
.paddingquick-en{

  border-right: 1px solid #dedede;
}
.paddingfeatured-en{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}
.homecenterpart {
  padding: 25px 22px 43px 24px;
  font-size: 13px;
}
.homerightpart {
  padding: 25px 12px 43px 12px;
  font-size: 13px;
}
.paddingdiscover-en{
 /* padding-left: 0;*/
  border-left: 1px solid #dedede;
}


.colorgrey{
  color: #777777;
}

.colorlightblue{
  color: #1da1f2;
}



.logorightimg{
  width: 50px;
  border-radius: 6px;
  height: 50px;
}

.placesbackrgound{
  background-color: #ededed;
  padding: 2px 4px 2px 4px;
  color: #777777;
  min-width: 80px;
  border: none;
}
.placesbackrgound-en{
  margin: 0 8px 0 0px;
}

.hrgrey{
  border-top: 1.2px solid #ededed;
}

.arrowicon{
  font-size: 24px;
  color: #e5e5e5;
  text-align: end;
}




/* ----------------- shimmer ----------------*/
.card-container {
  position: relative;
}
.card-container .card {
  border: none;
}
/*.card-container .card:nth-child(2) {
  top: 160px;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.card-container .card:nth-child(1) {
  top: 180px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}*/
.card-container .card .shimmerBG {
  
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
          animation-name: shimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #dde9eb;
  background: linear-gradient(to right, #dde9eb 4%, #bbc6c7 35%, #dde9eb 36%);
  background-size: 1200px 100%;
  
}
@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
.card-container .media {
  height: 283px;
  border-radius: 5px;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}
.card-container .p-32 {
  /*padding: 32px;*/
}
.card-container .title-line {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  height: 80px;
  width: 100%;
  margin: 12px 0 10px 0;
  border-radius: 4px;
}
.card-container .content-line {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  height: 16px;
  width: 100%;
  margin: 15px 0px 5px 0;
  border-radius: 0px;
}
.card-container .end {
  width: 40%;
}

.m-t-24 {
  margin-top: 24px;
}




/* ----------------- shimmer ----------------*/














/*arabic css */

.paddingquick-ar{
 
  border-left: 1px solid #dedede;
}
.paddingfeatured-ar{
  /*padding-left: 0;*/
  background-color: #f5f5f5;
}

.paddingdiscover-ar{
 /* padding-right: 0;*/
  border-right: 1px solid #dedede;
}


.logo-bottom-ar {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.placesbackrgound-ar{
  margin: 0 0px 0 8px;
}











/* ----------------- media ----------------- */

@media screen and (max-width: 1350px) {
  .quicksearch{
    padding: 25px 6px 43px 6px;
  }
  .centeredtitle{
    font-size: 13px;
  }
}



@media screen and (max-width: 1240px) {
  .imgbox{
    padding: 0 9px 0 9px;
  }
}


@media screen and (max-width: 1170px) {
  .quicksearch::ng-deep.mat-raised-button{
    font-size: 13px;
  }
  .searchfeatures,.searchfeatures a{
    font-size: 12px;
  }
  .types::ng-deep.mat-radio-button{
    font-size: 12px;
  }

  .units::ng-deep.mat-checkbox{
    font-size: 12px;
  }
  .quicksearch .post .avatar {
    height: 75px;
  }
  .quicksearch .post .line {
    width: 80%;
  }

}


@media screen and (max-width: 1024px) {
 
  .quicksearch .post .avatar {
    height: 64px;
  }
}

/* -----  other design ----- */
@media screen and (max-width: 975px) {

  
}